<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">


<style>

#filing-table {
  width: 100%;
  border-collapse: collapse;
}

.filing-table-th {
  text-align: center;
  font-size: 20px;
}

#filing-table td {
  height: 150px;
  font-size: 25px;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
}

.active-cell {
  background-color: lightgreen;
  text-align: center;
  width: 170px;
}

.dormant-cell {
  background-color: lightyellow;
  text-align: center;
  width: 170px;
}

.arrows {
  font-size: 30px;
}
</style>

<script>
  
  function loadNumbers() {
  tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;
  
  var f = document.getElementById('inputFrame' + tstCurrentPage);
  f.style = 'width: 96%; height: 90%;';

  var table = document.createElement('table');
  table.setAttribute('id','filing-table');
  f.appendChild(table);

  var tr = document.createElement('tr');
  table.appendChild(tr);

  var cells = ['&nbsp;','Name','Old label','New label'];

  for(var i = 0 ; i < cells.length; i++){
    var th = document.createElement('th');
    th.innerHTML = cells[i];
    th.setAttribute('class','filing-table-th');
    if(i == 1)
      th.setAttribute('style', 'text-align: left;');

    tr.appendChild(th);
  }

  cells = ['Add&nbsp;<span class="arrows">&#8594;</span>&nbsp;Active','name-field','old-label','new-label'];
  tr = document.createElement('tr');
  table.appendChild(tr);

  for(var i = 0 ; i < cells.length; i++){
    var th = document.createElement('td');
    if(i == 0) {
      th.innerHTML = cells[i];
      th.setAttribute('class','filing-table-th');
      th.setAttribute('style','text-align: left; padding-left: 5px;');
    }else{
      th.setAttribute('id', cells[i]);
      th.setAttribute('class','filing-table-td');
    }
    
    if(i == 2) {
      th.setAttribute('class','dormant-cell');
    }else if(i == 3){
      th.setAttribute('class','active-cell');
    }else if(i == 1){
      th.innerHTML = "chikulepo shiakhsnoddand phiri"
    }

    tr.appendChild(th);
  }

  cells = ['Active&nbsp;<span class="arrows">&#8594;</span>&nbsp;Dormant','name-field-2','old-label-2','new-label-2'];
  tr = document.createElement('tr');
  table.appendChild(tr);

  for(var i = 0 ; i < cells.length; i++){
    var th = document.createElement('td');
    if(i == 0) {
      th.innerHTML = cells[i];
      th.setAttribute('class','filing-table-th');
      th.setAttribute('style','text-align: left; padding-left: 5px;');
    }else{
      th.setAttribute('id', cells[i]);
      th.setAttribute('class','filing-table-td');
    }
    
    if(i == 2) {
      th.setAttribute('class','dormant-cell');
    }else if(i == 3){
      th.setAttribute('class','active-cell');
    }

    tr.appendChild(th);
  }

}

</script>




<body id="mateme">
  <div id="container">
    <div id="content">
      <form>
        <input type="text" name="filing-numbers" tt_onLoad="__$('keyboard').style.display = 'none'; loadNumbers();"
          tt_pageStyleClass="NoControls" helpText="Filing Numbers" optional="true" />

      </form>
    </div>
  </div>
</body>
