<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>


<style>
  #clearButton { display: none; }
#cancelButton { display: none; }

      #fileNumbers {
        width: 90%;
        padding: 2%;
        margin: 0 auto;
      }

      .fileNumber {
        background-color: white;
        width: 90%;
        margin: 3%;
        padding: 2%;
        border-radius: 2px;
        box-shadow: 0 1px 1px black;
      }

      img {
        margin-left: 5%;
      }

      .fileNumber:hover {
        cursor: pointer;
        box-shadow: 0 6px 6px brown;
      }

      .fileNumber h3 {
        font-family: Ubuntu;
        color: crimson;
      }

      .fileNumber p {
        font-family: Ubuntu;
        font-weight: 100;
        text-align: justify;
        word-spacing: .2em;
      }

      h3 {
        font-size: 1.2em;
      }
</style>

<script>
  function loadNumbers() {
  var f = document.getElementById('inputFrame' + tstCurrentPage);
  f.style = 'width: 96%; height: 90%;';

  var b = document.getElementById('nextButton');
  b.innerHTML = '<span>Next</span>';
  b.setAttribute('onmousedown',`nextEncounter(${sessionStorage.patientID}, 1, true)`);

  const fileNumbers = document.createElement('div')
  fileNumbers.setAttribute('id', 'fileNumbers')
  f.appendChild(fileNumbers)

  populatePageWithSwappedFileNumber(fetchFileNumbersToPrint())
}

function refreshList() {
}
</script>




<body id="mateme">
  <div id="container">
    <div id="content">
      <form>
        <input type="text" name="filing-numbers" tt_onLoad="__$('keyboard').style.display = 'none'; loadNumbers();"
          tt_pageStyleClass="NoControls" helpText="Filing Numbers" optional="true" />

      </form>
    </div>
  </div>

  <script>
    function populatePageWithSwappedFileNumber(fileNumbers) {
      document.getElementById('fileNumbers').innerHTML += createFileNumberElement(fileNumbers.new,
        'New Patient Gets Active File Number Below:');
        printFileNumber(sessionStorage.getItem('newPatientID'))

      if (fileNumbers.old.fileNumber) {
        document.getElementById('fileNumbers').innerHTML +=
          '<img src=\'/assets/images/upload.png\' style=\'width: 5%\'/>';
        document.getElementById('fileNumbers').innerHTML +=
          '<img src=\'/assets/images/download.png\' style=\'width: 5%\'/>';
        document.getElementById('fileNumbers').innerHTML += createFileNumberElement(fileNumbers.old,
          'Patient To Be Archived Gets File Number Below:');

        setTimeout(function () {
          printFileNumber(sessionStorage.getItem('oldPatientID'))
        }, 1000)
      }
    }

    function createFileNumberElement(fileData, status) {
      return "<div class='fileNumber'><h3>" + status +
        "</h3><hr width='100%'/><p>File #:&nbsp;&nbsp;" + fileData.fileNumber +
        "</p></div>";
    }

    function fetchArgumentFromUrlString(argumentName) {
      var url = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : location.href;

      var urlToSearch = new URL(url);
      var argument = urlToSearch.searchParams.get(argumentName);
      return argument;
    }

    function fetchFileNumbersToPrint() {
      return {
        new: {
          fileNumber: fetchArgumentFromUrlString('new')
        },
        old: {
          fileNumber: fetchArgumentFromUrlString('old')
        }
      };
    }

    function printFileNumber (patientId) {
      var printURL = "/patients/" + patientId + "/labels/filing_number"
      printURL = apiProtocol + "://" + apiURL + ":" + apiPort + "/api/v1" + printURL;
      document.location = printURL;
    }
  </script>
</body>