<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
</head>
<body>

    <style>
        .captions {
            color: blue;
        }
    </style>
<div class="container">
  <h2>ART Patient Information Confirmation</h2>
  <table class="table table-striped" style="height: 400px;">
    
    <tbody>
      <tr>
        <th class="captions"> Program Identifiers</th>
        <th>Filing Number</th>
        <td>0011-1100-11</td>
        <th>ARV-Number</td>
        <td>0011-11100 </td>
        <th>Current Outcome</td>
        <td> deceased </td>
      </tr>
      <tr>
          <th class="captions"> Addresses</th>
        <th> Residence</td>
        <td> Mphanje</td>
        <th>Duration of ART</th>
        <td> 2 years </td>
        <th>Current Regiment</th>
        <td> 3 months </td>
        
      </tr>
    <tr>
        <th class="captions"> Dates</th>
        <th>ART Start date</th>
        <td>January 2012 </td>
        <th>Reason for ART</th>
        <td> MOH </td>
        <th>Latest VL</th>
        <td>4000</td>
        
    </tr>
    <tr>
        <th class="captions">Samples</th>
       <th>Date of sample</th>
       <td>2012-12-12</td>
       <th>Date given to Patient</th>
       <td>2011-12-12 </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
