<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->


<style>
  #clearButton { display: none; }
#cancelButton { display: none; }

#activeFileNumbers {
        width: 90%;
        padding: 2%;
        margin: 0 auto;
      }

      .activeFileNumber {
        background-color: white;
        display: inline-block;
        width: 27%;
        margin: 1%;
        padding: 2%;
        border-radius: 2px;
        box-shadow: 0 1px 1px black;
      }

      .activeFileNumber:hover {
        cursor: pointer;
        box-shadow: 0 6px 6px brown;
      }

      .activeFileNumber h3 {
        font-family: Ubuntu;
        color: crimson;
      }

      .activeFileNumber p {
        font-family: Ubuntu;
        font-weight: 100;
        text-align: justify;
        word-spacing: .2em;
      }

      h3 {
        font-size: 1.2em;
      }

      #footer {
        width: 95%;
        margin: 0 auto;
        padding-top: 2%;
      }

      button {
        color: white;
        border-radius: 6px;
        font-size: 1.5em;
        padding: 1%;
      }

      button:hover {
        cursor: pointer;
      }

      .button.red {
        float: left;
      }

      .button.blue {
        float: right;
      }
</style>

<script>
  function loadNumbers() {
  var f = document.getElementById('inputFrame' + tstCurrentPage);
  f.style = 'width: 96%; height: 90%; overflow: scroll';

  var b = document.getElementById('nextButton');
  b.innerHTML = '<span>Refresh</span>';
  b.setAttribute('onmousedown','refreshList();');

  const fileNumbers = document.createElement('div')
  fileNumbers.setAttribute('id', 'activeFileNumbers')
  f.appendChild(fileNumbers)
}

function refreshList() {
}
</script>


<body id="mateme">
  <div id="container">
    <div id="content">
      <form>
        <input type="text" name="filing-numbers"
          tt_onLoad="__$('keyboard').style.display = 'none'; loadNumbers(); fetchFileNumber(fetchArgumentFromUrlString('patient_id'));"
          tt_pageStyleClass="NoControls" helpText="Filing numbers" optional="true" />

      </form>
    </div>
  </div>

  <script>
    const apiUrl = `http://${sessionStorage.getItem('apiURL')}:${sessionStorage.getItem('apiPort')}/api/v1`

    function populatePageWithActiveFileNumbers(activeFileNumbers) {
      activeFileNumbers.forEach((activeFileNumber) => {
        document.getElementById('activeFileNumbers').innerHTML += createFileNumberElement(activeFileNumber)
      })
    }

    function createFileNumberElement(fileData) {
      return `<div class='activeFileNumber' onclick='archiveFileNumber(this)' id=${fileData.fileNumber}>
        <h3>${fileData.name}</h3>
        <hr width='100%'/>
        <p>
          Last Visited:&nbsp;&nbsp;${fileData.lastVisited}<br />
          File Number:&nbsp;&nbsp;${fileData.fileNumber}<br />
          Last Visited:&nbsp;&nbsp;${fileData.lastVisited}<br />
          File Number:&nbsp;&nbsp;${fileData.fileNumber}<br />
        </p>
      </div>`;
    }

    function fetchArchivingCandidates() {
      return [{
          id: 1,
          name: 'Daniel Mwakanema',
          lastVisited: '2018-10-12',
          fileNumber: '12345GGGhh'
        },
        {
          id: 2,
          name: 'Shnoopy Bloopers',
          lastVisited: '2018-10-12',
          fileNumber: '12345GGGhh'
        },
        {
          id: 3,
          name: 'Lard Nar',
          lastVisited: '2018-10-12',
          fileNumber: '12345GGGhh'
        },
        {
          id: 4,
          name: 'Krombopulos Michael',
          lastVisited: '2018-10-12',
          fileNumber: '12345GGGhh'
        },
        {
          id: 5,
          name: 'Invader Larb',
          lastVisited: '2018-10-12',
          fileNumber: '12345GGGhh'
        },
        {
          id: 6,
          name: 'Quentin Tarantino',
          lastVisited: '2018-10-12',
          fileNumber: '12345GGGhh'
        }
      ]
    }

    function archiveFileNumber (event) {
      const response = confirm(`Are you sure you want to archive file number ${event.id}?`)
    }

    function fetchArgumentFromUrlString (argumentName, url = location.href) {
      const url = new URL(url)
      const argument = url.searchParams.get(argumentName)
      return argument
    }

    function fetchFileNumber (patientId) {
      POST(
        {
          url: `${apiUrl}/patients/${patientId}/filing_number`,
          async: true,
          headers: {
            'Authorization': sessionStorage.getItem('authorization'),
            'Content-Type': 'application/json'
          }
        },
        {},
        (data, status) => {
          if (status === 200) {
            createPatientFilingNumber(patientId, data.filing_number)
          } else {
            populatePageWithActiveFileNumbers(fetchArchivingCandidates())
          }
        },
        (error) => {
          showMessage('An error occured while fetching the patient\'s file number. Please try again.')
          console.error(error)
        }
      )
    }

    function redirectToUrl (url) {
      window.location = url
    }

    function createPatientFilingNumber (patientId, filingNumber) {
      POST(
        {
          url: `${apiUrl}/patients/${patientId}/filing_number`,
          async: true,
          headers: {
            'Authorization': sessionStorage.getItem('authorization'),
            'Content-Type': 'application/json'
          }
        },
        { filing_number: filingNumber},
        (data) => {
          showMessage('The patient\'s filing number was successfully assigned.')
          console.log(data)
        },
        (error) => {
          showMessage('An error occured while creating the patient\'s file number. Please try again.')
          console.error(error)
        }
      )
    }

    function POST (config, data = {}, successCallback, failureCallback) {
      const request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP')

      request.onreadystatechange = () => {
        if (request.readyState === 4 && [200, 204].indexOf(request.status) >= 0) {
          successCallback(JSON.parse(request.responseText), status)
        } else if (request.status >= 400) {
          failureCallback(request.responseText, status)
        } 
      }

      request.open('POST', config.url, config.async)

      config.headers.keys().forEach((key) => {
        request.setRequestHeader(key, headers[key])
      })

      request.send(encodeURI(buildParametersString(data)))
    }

    function buildParametersString(params) {
      let paramsString = ''
      Object.keys(params).forEach((key, index, array) => {
        paramsString += `${key}=${params[key]}`
        if (index < array.length - 1) {
          paramsString += '&'
        }
      })
      return paramsString
    }
  </script>
</body>