<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
  <script src="/assets/js/moment.js"></script>
  <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
  <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

  <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
  <style>
    #name-title {
      text-decoration: underline;
      margin-top: 3%;
    }
  </style>
</head>
<body>

    <div class="demo-header-cell demo-left" style="">
      
      <div id="name-title"><strong>ART - Start Date: </strong>&nbsp;<span id="art-start-date"></span> <span id="art-duration"> </span> </div>
      <div class="birthdates">
        <span class="headers">
          <strong>ARV Number:</strong>
        </span> 
        <span id="arv-number"></span> 
        <span ><strong>Current Regimen </strong> <span id="current-regimen"></span> </span> 
      </div>
      <div class="addresses"><span class="headers"><strong>File Number:</strong></span>&nbsp;<span id="filing-number"></span></div>
      <div class="addresses"><span class="headers"><strong>Current Outcome:</strong></span>&nbsp;<span id="current-outcome"></span></div>
    
    </div>

      <script>
      var apiURL = sessionStorage.getItem("apiURL");
      var apiPort = sessionStorage.getItem("apiPort");
      var apiProtocol = sessionStorage.getItem("apiProtocol");
      var id = sessionStorage.getItem("patientID");

      function ajaxRequest() {
        var url = sessionStorage.apiProtocol+ '://' + apiURL + ':' + apiPort + '/api/v1/programs/1/patients/' + id;
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {

          if (this.readyState == 4) {
            if (this.status == 200) {
              var results = JSON.parse(this.responseText);
              document.getElementById("art-start-date").innerHTML = ((results.art_start_date !== "N/A") ? results.art_start_date + "/" : "No Start Date Available");
              document.getElementById("art-duration").innerHTML = ((results.art_duration !== "N/A") ? "("+ calculateMonthsOnART(results.art_start_date) + " month(s))" : "")  
              document.getElementById("filing-number").innerHTML = ((results.filing_number.number !== "N/A") ? results.filing_number.number : "No Filing Number Available");
              document.getElementById("arv-number").innerHTML = ((results.arv_number !== "N/A") ? "("+results.arv_number+")" : "No ARV Number Available");
              document.getElementById("current-outcome").innerHTML =  ((results.current_outcome !== "N/A") ? results.current_outcome : "No Outcome Available");
              document.getElementById("current-regimen").innerHTML =  ((results.current_regimen !== "N/A") ? results.current_regimen : "No Regimen Available");
            }
          }
        };
        try {
          req.open('GET', url, true);
          req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
          req.send(null);
        } catch (e) {
        }
      }

      ajaxRequest();

function calculateMonthsOnART(art_start_date) {
  var year = art_start_date.split('/')[2];
  var month = art_start_date.split('/')[1];
  var day = art_start_date.split('/')[0];
  art_start_date = (year + '-' + month + '-' + day);

  var date1 = new Date(sessionStorage.sessionDate);
  var date2 = new Date(moment(art_start_date).format('YYYY-MM-DD'));
  return dateDiffInMonths(date1, date2);
}

function dateDiffInMonths(dt2, dt1) {
  var months;
  months = (dt2.getFullYear() - dt1.getFullYear()) * 12;
  months -= dt1.getMonth() + 1;
  months += dt2.getMonth();
  return months <= 0 ? 0 : months;
}

      </script>
</body>
</html>
