<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
  <script src="./assets/js/moment.js"></script>
  <style>
    #name-title {
      text-decoration: underline;
    }
  </style>
</head>
<body>

    <div class="demo-header-cell demo-left" style="">
        <div id="name-title"><strong>ART - Start Date</strong>&nbsp;12/Jun/2017<span id="patient_name"> (3 months)</span></div>
        <div class="birthdates"><span class="headers"><strong>ARV Number:</strong></span>&nbsp;
        <span id="DOB"></span>&nbsp;<span id="age"></span>
        &nbsp;(<span id="npid">100000-111-11</span>)
        </div>
        <div class="addresses"><span class="headers"><strong>File Number:</strong></span>&nbsp;<span id="addressl1">1090901-11</span></div>
        <div class="addresses"><span class="headers"><strong>Phone#:</strong></span>&nbsp;<span id="phone_number">00111222</span></div>
        <!-- <div class="addresses" style="visibility: hidden;"><span class="headers">Phone#:</span>&nbsp;<span id="addressl3"></span></div> -->
      </div>

      <script>
      // moment([2014, 1, 1]).diff(moment([2013, 9, 31]), 'months', true)
      </script>
</body>
</html>
