<!--script src="https://code.jquery.com/jquery-3.1.1.min.js"></script-->
<script src="/assets/js/HighCharts/highcharts.js"></script>
<script src="/assets/js/HighCharts/highcharts-3d.js"></script>
<script src="/assets/js/HighCharts/exporting.js"></script>
<script src="/assets/js/HighCharts/export-data.js"></script>
<script src="/assets/js/moment.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>


<style>
.encounter-types {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.numbers {
  text-align: right;
  padding-right: 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.overview-main-container {
  display: table;
  width: 100%;
  overflow: auto;
}

.overview-main-container-row {
  display: table-row;
}

.overview-main-container-cell {
  vertical-align: top;
  display: table-cell;
}

#chart-column {
  width: 40%;
  height: 315px;
}

#stats-table {
  width: 100%;
  border-collapse: collapse;
}

#stats-table th {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

</style>


<div class="overview-main-container">
  <div class="overview-main-container-row">
  
    <div class="overview-main-container-cell" id="chart-column">
    </div>

    <div class="overview-main-container-cell" style="width: 30%;">
      <div style="margin-bottom: 30px;">
       Encounters created:&nbsp;<span id="encounter-date"></span>
      </div>
      <table id="stats-table">
        <tr>
          <th>&nbsp;</th>
          <th class="numbers">Female</th>
          <th class="numbers">Male</th>
        </tr>
        <tbody id="stats-table-body">
        </tbody>
      </table>
    </div>


  </div>
</div>




<script type="text/javascript">

function buildChart(stats) {
// Build the chart
/*
  Highcharts.chart('chart-column', {
     chart: {
       type: 'column'
     },
      title: {
        text: 'Complete/Incomplete visits: last five days'
      },
      credits: {
          enabled: false
      },
      exporting: {
          enabled: false
      },
      xAxis: {
          categories: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },

      series: [{
          name: 'Total visits',
          data: [29, 71, 106, 129, 144, 176, 135]
      }, {
          name: 'Total incomplete visits',
          data: [0, 1, 10, 12, 0, 36, 0],
          lineWidth: 2
      }]
  });
*/

var males = 0;
var females = 0;
for(encounter_type_id in stats){
  males   += stats[encounter_type_id].M
  females += stats[encounter_type_id].F
}

stats[encounter_type_id].F

Highcharts.chart('chart-column', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    credits: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: '',
        data: [
            ['Males', males],
            {
                name: 'Female',
                y: females,
                sliced: true,
                selected: true
            }
        ]
    }]
});



}


//var stats = {all: true, date: dsdsd, encounter_types: [1,3,4,]
var stats = {all: true, encounter_types: [6, 7, 51, 52, 53, 68]};
var apiProtocol = sessionStorage.apiProtocol;
var apiURL = sessionStorage.apiURL;
var apiPort = sessionStorage.apiPort;

var encounter_types = {}
encounter_types[6]  = "Vitals"; 
encounter_types[7]  = "Appointments"; 
encounter_types[51] = "HIV reception"; 
encounter_types[52] = "HIV Staging"; 
encounter_types[53] = "HIV clinic consultation"; 
encounter_types[68] = "ART Adherence"; 

var encounter_date = moment(new Date()).format("YYYY-MM-DD");
submitParameters(stats, "/reports/encounters?date=" + encounter_date, "renderStats");

var encounters_created = [];
var counter = 1;

function renderStats(stats) {
  var encounter_date = document.getElementById("encounter-date");
  encounter_date.innerHTML = moment(new Date()).format("DD/MMM/YYYY");

  var tby = document.getElementById("stats-table-body");
  for(var encounter_type_id in stats){
    var tr = document.createElement("tr");
    var td = document.createElement("td");
    td.setAttribute("class","encounter-types");
    td.innerHTML = encounter_types[encounter_type_id];
    tr.appendChild(td);

    var td = document.createElement("td");
    td.setAttribute("class","numbers");
    td.innerHTML = stats[encounter_type_id].F.toLocaleString();
    tr.appendChild(td);

    var td = document.createElement("td");
    td.innerHTML = stats[encounter_type_id].M.toLocaleString();
    td.setAttribute("class","numbers");
    tr.appendChild(td);

    tby.appendChild(tr);
  
    if(counter == 1) {
      encounters_created.push({
        name: encounter_types[encounter_type_id],
        y: (stats[encounter_type_id].F + stats[encounter_type_id].M),
        sliced: true,   selected: true
      });
    }else{
      encounters_created.push({
        name: encounter_types[encounter_type_id],
        y: (stats[encounter_type_id].F + stats[encounter_type_id].M)
      });
    }

    counter++;
  }

  buildChart(stats);
}

</script>
