
<style>
  .vl-container {
    width: 100%;
  }

  .vl-header {
    width: 100%;
  }

  .vl-header {
    border-collapse: collapse;
  }

  .vl-header th {
    border-style: dotted;
    border-width: 1px;
  }

  .vl-header td {
    border-style: dotted;
    border-width: 1px;
  }

  #facility-name {
    width: 80%;
    border-style: solid !important;
  }

  .header th, .header td {
    border-width: 0px;
  }

</style>


<div class="vl-container">



  <table class="vl-header">
    <tr class="header">
      <th colspan="4" style="width: 90%;">Viral Load &#8259; Facility Monthly Report</th>
      <th style="font-size: 10px; text-align: middle;">Version 2</th>
    </tr>
    <tr>
      <td style="width: 100px;">Facility Name</td>
      <td id="facility-name" colspan="3">&nbsp;</td>
      <td id="reporting-month">&nbsp;</td>
    </tr>
    <tr>
      <td style="width: 100px;">Reporting Year</td>
      <td style="border-width: solid;">&nbsp;</td>
      <td id="reporting-month">&nbsp;</td>
      <td id="reporting-month">&nbsp;</td>
      <td id="reporting-month">&nbsp;</td>
    </tr>
  </table>















































</div>
