<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="/stylesheets/background.css" type="text/css">

    
    <script language="javascript" defer="true">
      //<!--
      tstUsername = "";
      tstUserKeyboardPref = "abc";

      tstCurrentDate = sessionStorage.sessionDate;
      var tt_cancel_destination = "/";

    function __checkSelected(){
        console.log(window.location.href);
    }
    
    function addHereButton(){

        var button = document.createElement("button");
        button.id = "addHere";
        button.innerHTML = "<span>Here</span>";
        button.style.cssFloat = "right";

        button.onclick = function(){
        __$("touchscreenInput" + tstCurrentPage).value = "Lighthouse clinic"
        }

        if(__$("buttons")){
        __$("buttons").appendChild(button);
        }
    }

    function removeHereButton(){
    if(__$("addHere")){
      __$("buttons").removeChild(__$("addHere"));
    }
  }

    function getSelected(){
    var choices = "";

    for(var o = 0; o < __$('choice').options.length; o++){
      if(__$('choice').options[o].selected == true){
        choices += __$('choice').options[o].innerHTML + " ";
        console.log(choices);
      }
    }
   
    return choices;

  }



function loadQuarters() {
  var qtrs = [];
  var current_qtr = "";
  var curr_date = new Date();
  var curr_year = curr_date.getFullYear();

  if(curr_date >= (new Date(curr_year, 1, 1) && curr_year <= (new Date(curr_year, 3, 31)))){
      current_qtr = '1 ' + curr_year;
  }else if (curr_date >= (new Date(curr_year, 4, 1) && curr_year <= (new Date(curr_year, 6, 30)))){
      current_qtr = '2 ' + curr_year;
  }else if (curr_date >= (new Date(curr_year, 7, 1) && curr_year <= (new Date(curr_year, 9, 30)))){
      current_qtr = '3 ' + curr_year;
  }else if (curr_date >= (new Date(curr_year, 10, 1) && curr_year <= (new Date(curr_year, 12, 31)))){
      current_qtr = '4 ' + curr_year;
  }

  var count = parseInt(current_qtr.substring(0,1));
  var i = 0;

  while(i < 14) { 

    if(i == 0)
      addFollowingQ(qtrs, count, curr_year);

    qtrs.push('Q' + count + ' ' + curr_year);
    count = (count > 0 ? (count -= 1) : count);
    curr_year = (count == 0 ? (curr_year - 1) : curr_year);
    count = (count == 0 ? (count += 4) : count);

    i++;
  }

  function addFollowingQ(qtrs, count, curr_year){
    if(count < 4){
      qtrs.push('Q' + (count + 1) + " " + curr_year);
    }else{
      qtrs.push('Q1' + " " + (curr_year + 1));
    }
  }

  var sel = document.getElementById('quarters');
  
  for(var i = 0; i < qtrs.length; i++){
    var opt = document.createElement('option');
    opt.setAttribute('value', qtrs[i]);
    opt.innerHTML = qtrs[i];
    sel.appendChild(opt);
  } 

  if(quarters_set == false) {
    quarters_set = true;
    gotoPage(0);
  }

}

var quarters_set = false;
var action_set = false;

function survivalAnalysis() {
  var url = window.location.href;
  url = new URL(url);
  var type = url.searchParams.get("type");
  if(type == 'survival_analysis'){
    var f = document.getElementById('quarter');
    f.setAttribute('action', 'survival_analysis.html');
    action_set = true;
    //gotoPage(0);
  }
}

</script>

<style>
  .inputFrameClass{
    height:600px;
  }
  #viewport{
    height:550px ! important;
  }
</style>


<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script language="javascript" type="text/javascript" src="/javascripts/show_category_hack.js" defer="true"></script>

    
</head>

<body id="mateme">
  <div id="container">
    <div id="content">
      <form id='quarter' action="revised_cohort.html" method="get">
        <select helpText="Select Quarter" id="quarters" 
          name="quarter" tt_onLoad="__$('keyboard').style.display = 'none';loadQuarters();survivalAnalysis();" 
          tt_onUnLoad="__checkSelected();">
        </select>

      </form>
      <div id="footer">
      </div>
    </div>
  </div>
</body>
</html>
