
#consultation-history-table {
  width: 100%;
  border-collapse: collapse;
}

#consultation-history-table td {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.min-consultation-history-tables td {
  border-style: none !important;
}

#consultation-history-table th {
  border-width: 0px 0px 8px 0px;
  border-color: teal;
}
