/* #eyboard {
    height: 50px;
    width: 910px;
    bottom: 10px;
    left: calc(50vw - 350px);
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px !important;
    z-index: 100;
    text-align: center;
    display: block;
  } */
  
  .keyboards-table {
    display: table;
    width: 100%;
    margin: 10px 10px 10px 0px;
  }

  #tests-div {
      width: 100%;
      height: 45%
  }

.tests-input {
    width: 100%;
    /* height: 30%; */
    font-size: 40px;
}

.test-list-items {
    font-size: 30px;
    list-style-type: none;
    margin: 1%;
    
}
  #tests-list {
      width: 95%;
      height: 80%;
      overflow: hidden;
      background-color:#d6dfe3;
      overflow: scroll;
  }
  
  .keyboards-table-row {
    display: block;
  }
  
  .keyboards-table-cell {
    display: inline-block;
  }
  
  .keyboards-span {
    border: 1px solid #7eb9d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px !important;
    font-size: 25px !important;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: #fff;
    background-color: #a7cfdf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
    background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
    background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
    min-width: 60px;
    min-height: 55px;
    cursor: pointer;
    width: 45px;
    height: 35px;
    text-align: center;
    margin: 3px;
  }