.chart-container-table {
  display: table;
  width: 100%;
}

.chart-container-row {
  display: table-row;
}

.chart-container-cell {
  display: table-cell;
}

#chart-container-left {
  height: 585px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  width: 76%;
}

#chart-container-right {
  vertical-align: top;
  padding: 0px 5px 1px 5px;
  width: 18%;
}

#weight-summary-table {
  width: 100%;
}

#weight-summary-table td {
  height: 40px;
}

#weight-summary-table th {
  height: 40px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

/* ................................................. 
##################################################################
##################################################################
##################################################################
##################################################################
##################################################################
................................................. */





.orders-button {
  padding-bottom: 5px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 5px;
  border: 1px solid #5480a8;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
  border: solid black 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow: inset 0 0 10px #000000;
  text-decoration: none;
  width: 110px;
  height: 80px;
}

.orders-button-disabled {
  color: currentColor;
  cursor: not-allowed;
  text-decoration: none;
  background-color: #5480a8;
  color: white;
  font-weight: bold;
}

#result-list {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
 }

.result-list {
  color: black;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
  font-size: 1.2em;
}

#inner-right {
  margin-left: 1%;
  font-size: 2.2em;
  font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
  width: 100%;

}

.headers {
  color: white;
  border-collapse: collapse;
  background-color: #413939;
}

.orders-td {
  border: solid 1px black;  
  height: 40px;
  text-align: center;
}
.tests-table{
  width: 100%;
  margin: 1%;
  border: solid 1px black;
  border-collapse: collapse;
}

#weight-summary-table {
  height: 80px;
  border-collapse: collapse;
}
