<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>Encounters New</title>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>

    <script type="text/javascript">
        var drug_short_names = {
            "Cotrimoxazole (960mg)": "Cotrimoxazole 960mg 1000 tabs",
            "Cotrimoxazole (480mg tablet)": "Cotrimoxazole 400 / 80mg 1000 tabs",
            "INH or H (Isoniazid 100mg tablet)": "Isoniazid (H)  100mg 100 tabs",
            "LPV/r (Lopinavir and Ritonavir 100/25mg tablet)": "LPV / r  100 / 25mg 60 tabs",
            "TMP/SMX (Cotrimoxazole 120mg tablet)": "Cotrimoxazole 100 / 20mg 1000 tabs",
            "AZT/3TC/NVP (300/150/200mg tablet)": "AZT / 3TC / NVP 300 / 150 / 200mg 60 tabs",
            "LPV/r (Lopinavir and Ritonavir 200/50mg tablet)": "LPV / r  200 / 50mg 120 tabs",
            "AZT/3TC (Zidovudine and Lamivudine 300/150mg)": "AZT / 3TC 300 / 150mg 60 tabs",
            "EFV (Efavirenz 600mg tablet)": "EFV 600mg 30 tabs",
            "TDF/3TC/EFV (300/300/600mg tablet)": "TDF / 3TC / EFV  300 / 300 / 600mg 30 tabs",
            "TDF/3TC (Tenofavir and Lamivudine 300/300mg tablet": "TDF / 3TC  300 / 300mg 30 tabs",
            "ABC/3TC (Abacavir and Lamivudine 600/300mg tablet)": "ABC / 3TC 600 / 300mg 30 tabs",
            "NVP (Nevirapine 50 mg tablet)": "NVP 50mg 60 tabs",
            "INH or H (Isoniazid 300mg tablet)": "Isoniazid (H)  300mg 1000 tabs",
            "NVP (Nevirapine syrup 1.5mL/dose in 25mL bottle)": "NVP 10mg/ml 25ml",
            "NVP (Nevirapine syrup 1mL/dose in 100mL bottle)": "NVP 10mg/ml 100ml",
            "ATV/r (Atazanavir 300mg/Ritonavir 100mg)": "ATV / r  300 / 100mg 30 tabs",
            "AZT/3TC/NVP (60/30/50mg tablet)": "AZT / 3TC / NVP 60 / 30 /50mg 60 tabs",
            "AZT/3TC (Zidovudine and Lamivudine 60/30 tablet)": "AZT / 3TC 60 / 30mg 60 tabs",
            "d4T/3TC/NVP (30/150/200mg tablet)": "d4T/3TC/NVP 30 / 150 / 200mg 60 tabs",
            "EFV (Efavirenz 200mg tablet)": "EFV 200mg 90 tabs",
            "NVP (Nevirapine 200 mg tablet)": "NVP 200mg 60 tabs",
            "d4T/3TC (Stavudine Lamivudine 30/150 tablet)": "d4T/3TC 30 / 150mg 60 tabs",
            "ABC/3TC (Abacavir and Lamivudine 60/30mg tablet)": "ABC / 3TC 60 / 30mg 60 tabs",
            "Pyridoxine (50mg)": "Pyridoxine 50mg 1000 tabs"
        };

        var drug_cms_names = {
            "Cotrimoxazole (960mg)": "Cotrimoxazole 960mg, blister pack of 1000 tablets",
            "Cotrimoxazole (480mg tablet)": "Cotrimoxazole 480mg, tin of 1000 tablets",
            "INH or H (Isoniazid 100mg tablet)": "Isoniazid 100mg, tin of 100 tablets",
            "LPV/r (Lopinavir and Ritonavir 100/25mg tablet)": "Lopinavir / Ritonavir 100 / 25mg, tin of 60 tablets",
            "TMP/SMX (Cotrimoxazole 120mg tablet)": "Cotrimoxazole 120mg, blister pack of 1000 dispersible tablets",
            "AZT/3TC/NVP (300/150/200mg tablet)": "Zidovudine / lamivudine /Nevirapine 300 / 150 / 200mg, tin of 60 tablets",
            "LPV/r (Lopinavir and Ritonavir 200/50mg tablet)": "Lopinavir / Ritonavir 200 / 50mg, tin of 120 tablets",
            "AZT/3TC (Zidovudine and Lamivudine 300/150mg)": "Zidovudine / lamivudine 300 / 150mg, tin of 60 tablets",
            "EFV (Efavirenz 600mg tablet)": "Efavirenz 600mg, tin of 30 tablets",
            "TDF/3TC/EFV (300/300/600mg tablet)": "Tenofovir disoproxil fumarate / Lamivudine / Efavirenz 300 / 300 / 600mg, tin of 30 tablets",
            "TDF/3TC (Tenofavir and Lamivudine 300/300mg tablet": "Lamivudine / Tenofovir disoproxil fumarate 300 / 300mg, tin of 30 tablets",
            "ABC/3TC (Abacavir and Lamivudine 600/300mg tablet)": "Abacavir sulfate 600mg / Lamivudine 300mg, tin of 30 tablets",
            "NVP (Nevirapine 50 mg tablet)": "Nevirapine 50mg, tin of 60 tablets",
            "INH or H (Isoniazid 300mg tablet)": "Isoniazid 300mg, tin of 1000 tablets",
            "NVP (Nevirapine syrup 1.5mL/dose in 25mL bottle)": "Nevirapine 10mg/ml, 25ml",
            "NVP (Nevirapine syrup 1mL/dose in 100mL bottle)": "Nevirapine 10mg/ml, 100ml",
            "ATV/r (Atazanavir 300mg/Ritonavir 100mg)": "Atazanavir / Ritonavir 300 / 100mg, tin of 30 tablets",
            "AZT/3TC/NVP (60/30/50mg tablet)": "Zidovudine / lamivudine /Nevirapine 30 / 60 / 50mg, tin of 60 tablets",
            "AZT/3TC (Zidovudine and Lamivudine 60/30 tablet)": "Zidovudine / lamivudine 60 / 30mg, tin of 60 tablets",
            "d4T/3TC/NVP (30/150/200mg tablet)": "Lamivudine / Stavudine / Nevirapine 150 / 30 / 200mg, tin of 60 tablets",
            "EFV (Efavirenz 200mg tablet)": "Efavirenz 200mg, tin of 90 tablets",
            "NVP (Nevirapine 200 mg tablet)": "Nevirapine 200mg, tin of 60 tablets",
            "d4T/3TC (Stavudine Lamivudine 30/150 tablet)": "Stavudine / lamivudine 30 / 150mg, tin of 60 tablets",
            "ABC/3TC (Abacavir and Lamivudine 60/30mg tablet)": "Abacavir / Lamivudine 60 / 30mg, tin of 60 tablets",
            "Pyridoxine (50mg)": "Pyridoxine 50mg tab, 1000 tablets"
        };

        var drug_cms_packsizes = {
            "Cotrimoxazole (960mg)": 1000,
            "Cotrimoxazole (480mg tablet)": 1000,
            "INH or H (Isoniazid 100mg tablet)": 100,
            "LPV/r (Lopinavir and Ritonavir 100/25mg tablet)": 60,
            "TMP/SMX (Cotrimoxazole 120mg tablet)": 1000,
            "AZT/3TC/NVP (300/150/200mg tablet)": 60,
            "LPV/r (Lopinavir and Ritonavir 200/50mg tablet)": 120,
            "AZT/3TC (Zidovudine and Lamivudine 300/150mg)": 60,
            "EFV (Efavirenz 600mg tablet)": 30,
            "TDF/3TC/EFV (300/300/600mg tablet)": 30,
            "TDF/3TC (Tenofavir and Lamivudine 300/300mg tablet": 30,
            "ABC/3TC (Abacavir and Lamivudine 600/300mg tablet)": 30,
            "NVP (Nevirapine 50 mg tablet)": 60,
            "INH or H (Isoniazid 300mg tablet)": 1000,
            "NVP (Nevirapine syrup 1.5mL/dose in 25mL bottle)": 25,
            "NVP (Nevirapine syrup 1mL/dose in 100mL bottle)": 100,
            "ATV/r (Atazanavir 300mg/Ritonavir 100mg)": 30,
            "AZT/3TC/NVP (60/30/50mg tablet)": 60,
            "AZT/3TC (Zidovudine and Lamivudine 60/30 tablet)": 60,
            "d4T/3TC/NVP (30/150/200mg tablet)": 60,
            "EFV (Efavirenz 200mg tablet)": 90,
            "NVP (Nevirapine 200 mg tablet)": 60,
            "d4T/3TC (Stavudine Lamivudine 30/150 tablet)": 60,
            "ABC/3TC (Abacavir and Lamivudine 60/30mg tablet)": 60,
            "Pyridoxine (50mg)": 1000
        };

        function initializeVariables() {
            jQuery(".loader").show();
            jQuery('#keyboard').hide();
            jQuery("#clearButton").hide();
            jQuery("#cancelButton").hide();
            //jQuery("#inputFrame" + tstCurrentPage).hide();


            var pharmacy_items_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            pharmacy_items_url += "/api/v1/pharmacy/items";


            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var pharmacy_items = JSON.parse(this.responseText);
                    jQuery(".loader").hide();
                    var html = "<div id='stock-div'>";
                    html += "<table id='stock'>";
                    html += "<thead>";
                    html += "<th style='padding-right: 3px;'>Medication</th>";
                    html += "<th>Earliest Expiry Date</th>";
                    html += "<th>Stock on hand (Tins)</th>";
                    html += "</thead>";
                    html += "<tbody>";

                    html += "<tbody>";

                    var pharmacyData = {};
                    for (var key in pharmacy_items) {
                        var drug_id = pharmacy_items[key]["drug_id"];
                        var expiry_date = pharmacy_items[key]["expiry_date"];
                        expiry_date = moment(expiry_date).format("MMM/YYYY");
                        var drug_name = pharmacy_items[key]["drug_name"];
                        var pack_size = drug_cms_packsizes[drug_name];
                        var current_quantity = pharmacy_items[key]["current_quantity"];

                        if (!pharmacyData[drug_id]) {
                            pharmacyData[drug_id] = {};
                            pharmacyData[drug_id]["current_quantity"] = 0;
                            pharmacyData[drug_id]["expiry_dates"] = [];
                            pharmacyData[drug_id]["pack_size"] = pack_size;
                            pharmacyData[drug_id]["drug_name"] = drug_name;
                        }

                        pharmacyData[drug_id]["current_quantity"] += parseFloat(current_quantity);
                        pharmacyData[drug_id]["expiry_dates"].push(pharmacy_items[key]["expiry_date"]);
                    }

                    for (var drugID in pharmacyData) {
                        var drug_name = pharmacyData[drugID]["drug_name"];
                        var pack_size = pharmacyData[drugID]["pack_size"];
                        var current_quantity = pharmacyData[drugID]["current_quantity"] / pack_size;
                        var expiry_dates = pharmacyData[drugID]["expiry_dates"];

                        expiry_dates.sort(function (a, b) {
                            return new Date(a) - new Date(b);
                        });
                        expiry_date = moment(expiry_dates[0]).format("MMM/YYYY");

                        html += "<tr>";
                        html += "<td class='medication'>" + drug_name + "</td>";
                        html += "<td class='expiry-date'>" + expiry_date + "</td>";
                        html += "<td class='current-quantity'>" + current_quantity + "</td>";
                        html += "</tr>";
                    }

                    html += "</tbody>";
                    html += "</table>";
                    html += "</div>";
                    jQuery(".inputFrameClass").append(html);
                }
            };

            xhttp.open("GET", pharmacy_items_url, true);
            xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp.setRequestHeader('Content-type', "application/json");
            xhttp.send();
        }

        function customizeFinishButton() {
            __$("nextButton").onmousedown = function () {
                window.location = "/";
            }
        }

    </script>
</head>


<body id="mateme">
<div id="container">
    <div id="content">

        <form>

            <input type="text" name="summary"
                   tt_onLoad="initializeVariables(); customizeFinishButton();"
                   tt_pageStyleClass="NoControls" helpText="HIV product stock report" optional="true"/>

        </form>
        <div class="loader"></div>
    </div>
</div>
</body>

<style>
    .loader {
        position: absolute;
        display: none;
        top: 30%;
        left: 40%;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        z-index: 9999999999999;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    #stock-div {
        overflow: auto;
        height: 590px;
    }

    #stock {
        width: 100%;
    }

    #stock th {
        background-color: gray;
        color: white;
        text-align: center;
        line-height: 2em;
    }

    #stock tbody {
        line-height: 2em;
        letter-spacing: 1;
    }

    #stock tbody tr td {
        border: 1px solid black;
    }

    .expiry-date {
        text-align: center;
    }

    .current-quantity {
        text-align: right;
        padding-right: 10px;
    }

    .medication {
        padding-left: 10px;
    }
</style>