<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>

<script>
    var apiProtocol = sessionStorage.apiProtocol;
    var apiURL = sessionStorage.apiURL;
    var apiPort = sessionStorage.apiPort;
    var patientID = sessionStorage.patientID;

    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;
    var first_visit = false;

    var bp_trail = [];
    var todays_date = moment(sessionStorage.sessionDate).format('DD MMMM YYYY');
    var note = null;
    var risks_count = 0;
    var patient_current_bp_drugs = [];
    var normatensive = false;
    var hypertension_obs = []


    var diabetes_concept_id = 3720;
    var chronic_kidney_disease_concept_id = 7623;
    var past_history_of_ihd_or_cvd_concept_id = 9499;
    var first_degree_relative_with_ihd_or_cvd_concept_id = 9501;
    var patiently_currently_smokes_concept_id = 3339;

    var yes_concept_id = 1065;

    var diabetes_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
    diabetes_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
    diabetes_risk_url += "&concept_id=" + diabetes_concept_id;
    diabetes_risk_url += "&value_coded=" + yes_concept_id;

    var chronic_kidney_disease_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
    chronic_kidney_disease_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
    chronic_kidney_disease_risk_url += "&concept_id=" + chronic_kidney_disease_concept_id;
    chronic_kidney_disease_risk_url += "&value_coded=" + yes_concept_id;

    var past_history_of_ihd_or_cvd_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
    past_history_of_ihd_or_cvd_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
    past_history_of_ihd_or_cvd_risk_url += "&concept_id=" + past_history_of_ihd_or_cvd_concept_id;
    past_history_of_ihd_or_cvd_risk_url += "&value_coded=" + yes_concept_id;

    var first_degree_relative_with_ihd_or_cvd_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
    first_degree_relative_with_ihd_or_cvd_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
    first_degree_relative_with_ihd_or_cvd_risk_url += "&concept_id=" + first_degree_relative_with_ihd_or_cvd_concept_id;
    first_degree_relative_with_ihd_or_cvd_risk_url += "&value_coded=" + yes_concept_id;

    var patiently_currently_smokes_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
    patiently_currently_smokes_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
    patiently_currently_smokes_risk_url += "&concept_id=" + patiently_currently_smokes_concept_id;
    patiently_currently_smokes_risk_url += "&value_coded=" + yes_concept_id;

    var risk_factors = [];

    function getRiskFactors() {
        var xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var observations = JSON.parse(this.responseText);
                if (observations.length > 0) {
                    risk_factors.push("Diabetes");
                }

                var xhttp2 = new XMLHttpRequest();
                xhttp2.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                        var observations = JSON.parse(this.responseText);
                        if (observations.length > 0) {
                            risk_factors.push("Chronic kidney disease");
                        }

                        var xhttp3 = new XMLHttpRequest();
                        xhttp3.onreadystatechange = function () {
                            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                var observations = JSON.parse(this.responseText);
                                if (observations.length > 0) {
                                    risk_factors.push("Past history of IHD or CVD");
                                }

                                var xhttp4 = new XMLHttpRequest();
                                xhttp4.onreadystatechange = function () {
                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                        var observations = JSON.parse(this.responseText);
                                        if (observations.length > 0) {
                                            risk_factors.push("First degree relative with IHD or CVD <65");
                                        }

                                        var xhttp5 = new XMLHttpRequest();
                                        xhttp5.onreadystatechange = function () {
                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                var observations = JSON.parse(this.responseText);
                                                if (observations.length > 0) {
                                                    risk_factors.push("Patient currently smokes");
                                                }
                                                risk_factors = risk_factors.unique();
                                                risks_count = risk_factors.length;
                                                initializeVariables();
                                            }
                                        };

                                        xhttp5.open("GET", patiently_currently_smokes_risk_url, true);
                                        xhttp5.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                        xhttp5.setRequestHeader('Content-type', "application/json");
                                        xhttp5.send();
                                    }

                                };

                                xhttp4.open("GET", first_degree_relative_with_ihd_or_cvd_risk_url, true);
                                xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                xhttp4.setRequestHeader('Content-type', "application/json");
                                xhttp4.send();
                            }
                        };

                        xhttp3.open("GET", past_history_of_ihd_or_cvd_risk_url, true);
                        xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                        xhttp3.setRequestHeader('Content-type', "application/json");
                        xhttp3.send();

                    }

                };

                xhttp2.open("GET", chronic_kidney_disease_risk_url, true);
                xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp2.setRequestHeader('Content-type', "application/json");
                xhttp2.send();

            }


        };

        xhttp1.open("GET", diabetes_risk_url, true);
        xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp1.setRequestHeader('Content-type', "application/json");
        xhttp1.send();
    }

    function formatBPTrail(trail){
        var trail_to_be_returned = [];
        for (var date in trail){
            var sbp = trail[date]["sbp"];
            var dbp = trail[date]["dbp"];
            var date = trail[date]["date"];
            trail_to_be_returned.push({"systolic": sbp, "diastolic": dbp, "date": date})
        }
        return trail_to_be_returned;
    }

    function normatensiveBP(trail) {
        var dates_checked = 0;
        var normal_bp = 0;
        var dates = [];

        for (var i = 0; i <= 2; i++) {
            if (!trail[i]) {
                return false;
            }

            var diastollic = parseInt(trail[i]["diastolic"]);
            var systollic = parseInt(trail[i]["systolic"]);

            if (diastollic < 90 && systollic < 140 && !dates.includes(trail[i]["date"])) {
                normal_bp += 1
            }

            if (!dates.includes(trail[i]["date"])) {
                dates_checked += 1;
            }

            if (!dates.includes(trail[i]["date"])) {
                dates.push(trail[i]["date"]);
            }

            if (dates_checked == 2 && normal_bp == 2) {
                break;
            }
        }

        if (dates_checked == 2 && normal_bp == 2) {
            return true
        }
        else {
            return false
        }

    }

    Array.prototype.unique = function () {
        var arr = [];
        for (var i = 0; i < this.length; i++) {
            if (!arr.includes(this[i])) {
                arr.push(this[i]);
            }
        }
        return arr;
    }

    function bp_grade(sbp, dbp) {
        sbp = parseInt(sbp);
        dbp = parseInt(dbp);

        if ((sbp < 140) && (dbp < 90)) {
            return "normal"
        }

        else if ((sbp >= 140 && sbp.to_i < 160) || (dbp >= 100 && dbp < 110)) {
            return "grade 1"
        }

        else if ((sbp >= 180 && dbp > 110) || sbp >= 180) {
            return "grade 3"
        }

        else if ((sbp >= 160 && sbp < 180) || (dbp >= 110)) {
            return "grade 2"
        }
    }


    var patientOnBpDrugs = false;
    var patientPregnant = false;
    var drug_use_history_concept_id = 2466;
    var transferred_concept_id = 6986;
    var drug_use_history_data = {};

    function initializeVariables() {
        //jQuery(".loader").show();
        var patient_has_hypertension_concept_id = 6414;


        var diastollic_blood_pressure_concept_id = 5086;
        var treatment_status_concept_id = 1484;
        var is_patient_pregnant_concept_id = 6131;
        var yes_concept_id = 1065;

        var lab_trail_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        lab_trail_url += "/api/v1/patients/" + sessionStorage.patientID + "/bp_trail";

        var patient_has_hypertension_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        patient_has_hypertension_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        patient_has_hypertension_url += "&concept_id=" + patient_has_hypertension_concept_id;

        var diastollic_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        diastollic_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        diastollic_url += "&concept_id=" + diastollic_blood_pressure_concept_id;
        diastollic_url += "&obs_datetime=" + sessionStorage.sessionDate;

        var treatment_status_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        treatment_status_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        treatment_status_url += "&concept_id=" + treatment_status_concept_id;

        var is_patient_pregnant_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        is_patient_pregnant_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        is_patient_pregnant_url += "&concept_id=" + is_patient_pregnant_concept_id;
        is_patient_pregnant_url += "&value_coded=" + yes_concept_id;
        is_patient_pregnant_url += "&obs_datetime=" + sessionStorage.sessionDate;

        var drug_use_history_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        drug_use_history_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        drug_use_history_url += "&concept_id=" + drug_use_history_concept_id;

        var transferred_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        transferred_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        transferred_url += "&concept_id=" + transferred_concept_id;


        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                var patient_has_hypertension_obs = JSON.parse(this.responseText);
                if (patient_has_hypertension_obs.length == 0) {
                    hypertension_obs = patient_has_hypertension_obs;
                    setTimeout(function () {
                        addHypertensionDiagnosisButton();
                    }, 350);
                }

                var xhttp2 = new XMLHttpRequest();
                xhttp2.onreadystatechange = function () {
                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                        var diastollic_obs = JSON.parse(this.responseText);
                        if (diastollic_obs.length > 0) {
                            diastollicBloodPressure = diastollic_obs[0].value_numeric;
                        }

                        var xhttp3 = new XMLHttpRequest();
                        xhttp3.onreadystatechange = function () {
                            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                var treatment_status_obs = JSON.parse(this.responseText);
                                if (treatment_status_obs.length > 0) {
                                    var value_text = treatment_status_obs[0]["value_text"];
                                    if (value_text.match(/BP Drugs started/i)) {
                                        patientOnBpDrugs = true;
                                    }
                                }

                                var xhttp4 = new XMLHttpRequest();
                                xhttp4.onreadystatechange = function () {
                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                        var is_patient_pregnant_obs = JSON.parse(this.responseText);
                                        if (is_patient_pregnant_obs.length > 0) {
                                            patientPregnant = true;
                                        }
                                        /*****************************************************/
                                        var xhttp6 = new XMLHttpRequest();
                                        xhttp6.onreadystatechange = function () {
                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                var drug_use_history_obs = JSON.parse(this.responseText);

                                                if (drug_use_history_obs.length > 0) {
                                                    obs_datetime = drug_use_history_obs[0]["obs_datetime"]
                                                    date = moment(obs_datetime).format('YYYY-MM-DD');
                                                    drug = drug_use_history_obs[0]["value_text"];
                                                    if (!drug_use_history_data[date]) {
                                                        drug_use_history_data[date] = []
                                                    }
                                                    drug_use_history_data[date].push(drug)
                                                }

                                                var xhttp5 = new XMLHttpRequest();
                                                xhttp5.onreadystatechange = function () {
                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                        bp_trail = JSON.parse(this.responseText);
                                                        var trail = formatBPTrail(bp_trail);
                                                        normatensive = normatensiveBP(trail);
                                                        var xhttp7 = new XMLHttpRequest();
                                                        xhttp7.onreadystatechange = function () {
                                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                                var transfer_obs = JSON.parse(this.responseText);

                                                                if (transfer_obs.length == 0) {
                                                                    first_visit = true;
                                                                }

                                                                for (var key in bp_trail) {
                                                                    var bp_drugs = bp_trail[key]["drugs"];
                                                                    if (bp_drugs.length > 0) {
                                                                        first_visit = false;
                                                                    }
                                                                }

                                                                buildHighBpPage();

                                                            }
                                                        };

                                                        xhttp7.open("GET", transferred_url, true);
                                                        xhttp7.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                        xhttp7.setRequestHeader('Content-type', "application/json");
                                                        xhttp7.send();

                                                    }
                                                };

                                                xhttp5.open("GET", lab_trail_url, true);
                                                xhttp5.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                xhttp5.setRequestHeader('Content-type', "application/json");
                                                xhttp5.send();


                                            }
                                        };

                                        xhttp6.open("GET", drug_use_history_url, true);
                                        xhttp6.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                        xhttp6.setRequestHeader('Content-type', "application/json");
                                        xhttp6.send();
                                        /****************************************************/

                                    }
                                };

                                xhttp4.open("GET", is_patient_pregnant_url, true);
                                xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                xhttp4.setRequestHeader('Content-type', "application/json");
                                xhttp4.send();

                            }
                        };

                        xhttp3.open("GET", treatment_status_url, true);
                        xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                        xhttp3.setRequestHeader('Content-type', "application/json");
                        xhttp3.send();

                    }
                };

                xhttp2.open("GET", diastollic_url, true);
                xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                xhttp2.setRequestHeader('Content-type', "application/json");
                xhttp2.send();
                /*******/

            }
        };

        xhttp.open("GET", patient_has_hypertension_url, true);
        xhttp.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
        xhttp.setRequestHeader('Content-type', "application/json");
        xhttp.send();
    }


    function buildHighBpPage() {
        var html = '<div style="display:table; width:100%">\n' +
            '  <div style="display:table-row">\n' +
            '    <div style="display:table-cell">\n' +
            '      <div style="margin-bottom: 5px; padding: 10px;font-size: 110%; font-weight: bold;">';
        html += ' BP Management Screen ' + todays_date;
        html += '<span style="float: right;">';
        if (note) {
            html += '<span style="color: red;">' + note + '</span>';
        }

        if (risks_count == 0) {
            html += '<span onclick="addMedicalHistory();" id="risk_factor">Add Risk Factors</span>';
        } else {
            html += '<span onclick="editMedicalHistory();" id="risk_factor"><span style="color: red">View/Edit Risk Factors (' + risks_count + ')</span></span>'
        }
        html += '</span>';
        if (patientOnBpDrugs) {
            html += '<div style="color:green;">\n' +
                '            (<i>Patient already on BP drugs</i>)\n' +
                '          </div>';
        }
        html += '</div>\n' +
            '    </div>\n' +
            '  </div>';

        html += '<div style="display:table-row">\n' +
            '    <div style="display:table-cell;border: 1px solid black;">\n' +
            '      <div><span style="font-weight: bold; font-size: 100%;">BP Trail</span></div>\n' +
            '      <div style="height: 350px;overflow: auto;">\n' +
            '        <table style="width: 100%; margin-left: auto;margin-right: auto;">\n' +
            '          <thead>\n' +
            '            <tr>\n' +
            '              <th width="10%">Date</th>\n' +
            '              <th width="10%">Systolic</th>\n' +
            '              <th width="10%">Diastolic</th>\n' +
            '              <th>BP Drugs</th>\n' +
            '              <th width="20%">Action / Note</th>\n' +
            '            </tr>\n' +
            '          </thead>\n' +
            '          <tbody>';

        for (var key in bp_trail) {
            date = bp_trail[key]["date"];
            formatted_date = moment(date).format('DD MMM YYYY')
            systolic = bp_trail[key]["sbp"];
            diastolic = bp_trail[key]["dbp"];
            current_bp_drugs = bp_trail[key]["drugs"];
            if (current_bp_drugs.length > 0) {
                patient_current_bp_drugs = current_bp_drugs;
            }

            plan = bp_trail[key]["note"];
            if (!plan) {
                plan = "";
            }
            past_drug_use = drug_use_history_data[date];

            class_name = bp_grade(systolic, diastolic);
            try {
                class_name = class_name.replace(" ", '');
            } catch (e) {
                class_name = "normal"
            }

            html += '<tr class="' + class_name + '">';
            html += '<td style="text-align: center">' + formatted_date + '</td>';
            html += '<td style="text-align: center">' + systolic + '</td>';
            html += '<td style="text-align: center">' + diastolic + '</td>';
            html += '<td style="text-align: center">' + current_bp_drugs + '</td>';
            if (!past_drug_use) {
                html += '<td style="padding-left: 10px;">' + plan + '</td>'
            } else {
                if (plan.length > 0) {
                    html += '<td style="padding-left: 10px;">' + plan + '<br />';
                    html += 'Past BP Drugs: <i><b>' + past_drug_use + '</b></i></td>'
                } else {
                    html += '<td style="padding-left: 10px;">Past BP Drugs : <i><b>' + past_drug_use + '</b></i></td>'
                }
            }
            html += '</tr>';
        }
        html += '</tbody>\n' +
            '        </table>\n' +
            '      </div>\n' +
            '    </div>\n' +
            '  </div>\n' +
            '</div>\n' +
            '<br />';

        if (patientOnBpDrugs == true && first_visit == true) {
            html += '<div style="display:table-row;border: 1px solid black;width:100%;position:absolute;">\n' +
                '    <div style="display:table-cell;height: 200px;width:97.8%;position:absolute;">\n' +
                '      <div style="width:100%" class="heading">Does the patient want to transfer in for HTN management?</div>\n' +
                '\n' +
                '      <div class="row">\n' +
                '        <div class="cell">\n' +
                '          <div class="option" value="YES" onmousedown="selected(this);" >\n' +
                '            <div style="display: table-cell; vertical-align: middle; "><img src="/public/touchscreentoolkit/lib/images/unchecked.png"/></div>\n' +
                '            <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:110% !important; ">Yes</div>\n' +
                '          </div>\n' +
                '        </div>\n' +
                '        <div class="cell"  style="padding-left:40px;">\n' +
                '          <div class="option" value="NO" onmousedown="selected(this);">\n' +
                '            <div style="display: table-cell; vertical-align: middle;"><img src="/public/touchscreentoolkit/lib/images/unchecked.png"/></div>\n' +
                '            <div style="display: table-cell; vertical-align: middle;padding-left: 5px; ">No</div>\n' +
                '          </div>\n' +
                '        </div>\n' +
                '      </div>\n' +
                '\n' +
                '    </div>\n' +
                '  </div>';
        } else {
            html += '<div style="display:table-row;border: 1px solid black;width:100%;position:absolute;">\n' +
                '    <div style="display:table-cell;height: 200px;width:97.8%;position:absolute;">\n' +
                '      <div style="width:100%" class="heading">Select Action</div>;'
            if (patient_current_bp_drugs.length > 0) {
                html += '<div class="row">\n' +
                    '          <div class="cell"><div id = "1" class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle; "><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:110% !important; " state="On Treatment">Did not take prescribed BP drugs today</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '          <div class="cell"><div class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle;"><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px; " state="On Treatment">Continue Drugs</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '          <div class="cell"><div class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle;"><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;" state="On Treatment">Review Drugs</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '        </div>';
            } else {
                html += '<div class="row">\n' +
                    '          <div class="cell"><div id = "1" class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle; "><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important; " state="Lifestyle changes only">Lifestyle Advice given</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '          <div class="cell"><div class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle;"><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="Symptomatic but NOT in treatment">Not yet stable on ART</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '          <div class="cell"><div class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle;"><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="Symptomatic but NOT in treatment">Patient Declining BP drugs</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '        </div>';
                html += '<div class="row">';
                if (normatensive) {
                    html += '<div class="cell"><div class="option" selected=false onclick="selected(this)">\n' +
                        '                <div style="display: table-cell; vertical-align: middle; "><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                        '                <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="Alive">Return to annual screening</div>\n' +
                        '              </div>\n' +
                        '            </div>';
                }
                html += '<div class="cell"><div class="option" selected=false onclick="selected(this)">\n' +
                    '              <div style="display: table-cell; vertical-align: middle; "><img src="/public/touchscreentoolkit/lib/images/unchecked.png"></div>\n' +
                    '              <div style="display: table-cell; vertical-align: middle;padding-left: 5px;font-size:70% !important;" state="On Treatment">Start anti-hypertensives</div>\n' +
                    '            </div>\n' +
                    '          </div>\n' +
                    '        </div>';
            }

            html += '</div>\n' +
                '  </div>';

        }

        html += '<div id="buttons" class="buttonsDiv">';
        if (patientOnBpDrugs == true && first_visit == true) {
            html += '<button id="nextButton" class="button green navButton" onmousedown="createVitalsTransferObs();"><span>Finish</span></button>\n' +
                '    <button onmousedown="confirmCancelEntry();" id="cancelButton" class="button navButton red"><span>Cancel</span></button>;'
        } else {
            html += '<button id="nextButton" class="button green navButton" onmousedown="nextPage()"><span>Finish</span></button>';
        }

        jQuery("#data").html(html);

    }


</script>

<style>
    div.option {
        font-size: 1.9em;
        padding-left: 10px;
        padding-top: 5px;
    }

    th {
        background-color: silver;
        height: 20px;
        font-size: 1.1em;
        padding: 5px;
    }

    td {
        border-bottom: 1pt solid black;
    }

    tr.normal {
        background-color: #ffffff;
    }

    tr.grade1 {
        background-color: #FFC3CE;
    }

    tr.grade2 {
        background-color: #F20056;
        color: white;
    }

    tr.grade3 {
        background-color: #FF3333;
    }

    div.heading {
        background-color: lightgrey;
        font-size: 1.5em;
        padding: 10px;

    }

    #popup_box {
        display: none;
        z-index: 1001;
        left: 300px;
        top: 100px;
        text-align: center;
        font-size: 28;
        color: black;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        border-style: outset;
        height: 160px;
        padding: 5px;
        position: absolute;
        top: 199px;
        width: 450px;
        -moz-user-select: none;
    }

    #popup_box span {
        font-size: 35px;
    }

    #popup_box a {
        background-color: silver;
        border-bottom: 1px outset black;
        border-style: outset;
        padding: 10px 25px 10px 25px;
        border-radius: 5px;
        font-size: 29;
        cursor: pointer;

    }

    #cover {
        display: none;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 102%;
        left: 0%;
        top: 0%;
        z-index: 1000;
        opacity: 0.5;
    }

    #risk_factor {
        background: lightblue;
        border-radius: 5px;
        padding: 5px;
        color: black;
        background-color: lightgray;
        margin: 15px;
        border: 3px outset gray;
        -moz-user-select: none;
        text-align: center;
    }

    div.message {
        display: none;
        font-size: 2em;
        font-family: 'Nimbus Sans L', 'Arial Narrow', sans-serif;
        position: absolute;
        top: 100px;
        height: 200px;
        width: 40%;
        left: 250px;
        text-align: center;
        padding: 30px;
        background: tomato;
        border-radius: 15px;
        border: 5px outset tomato;
    }

    .confirm_div {
        display: none;
        font-size: 2em;
        font-family: 'Nimbus Sans L', 'Arial Narrow', sans-serif;
        position: absolute;
        top: 100px;
        height: 130px;
        width: 40%;
        left: 250px;
        text-align: center;
        padding: 30px;
        background: tomato;
        border-radius: 15px;
        border: 5px outset tomato;
    }

    .update_drug_button {
        background-color: #006dcc;
        background-image: linear-gradient(to bottom, #08c, #04c);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        font-size: 17.5px;
        padding: 11px 30px;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-image: none;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        display: inline-block;
        line-height: 20px;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
    }

    .update_drug_button:hover {
        background-color: #e6e6e6;
        text-decoration: none;
        background-position: 0 -0.2px;
        transition: background-position 0.1s linear 0s;
    }
</style>

<body id="mateme">
<div id="container">
    <div id="content">
        <div id="data"></div>

    </div>
</div>
<div class="loader"></div>
</body>


<script type="text/javascript">
    function selected(option) {
        options = document.getElementsByClassName("option")

        for (i = 0; i < options.length; i++) {
            options[i].style.backgroundColor = "white";
            options[i].setAttribute("selected", false)
            options[i].children[0].firstChild.setAttribute("src", "/public/touchscreentoolkit/lib/images/unchecked.png")
        }

        var state = option.getAttribute('selected');
        option.setAttribute("selected", (state == "true" ? false : true));
        option.children[0].firstChild.setAttribute("src", (state == "true" ? "/public/touchscreentoolkit/lib/images/unchecked.png" : "/public/touchscreentoolkit/lib/images/checked.png"))
    }

    var chosenPlan = "";
    var path = "";
    var state = "";

    function nextPage() {
        options = document.getElementsByClassName("option")
        var checked = false;
        for (i = 0; i < options.length; i++) {
            if (options[i].getAttribute("selected") == "true") {
                checked = true;
                switch (options[i].children[1].innerHTML) {
                    case 'Start anti-hypertensives' :
                        path = "/apps/ART/views/htn/change_drugs.html";
                        break;
                    case 'Review Drugs':
                        path = "/apps/ART/views/htn/bp_drug_management.html?review=true";
                        break;
                    case 'Continue Drugs':
                        path = "/apps/ART/views/htn/bp_drug_management.html";
                        break;
                    case 'Did not take prescribed BP drugs today':
                        path = "/apps/ART/views/htn/bp_drug_management.html";
                        break;
                    default :
                        path = "next_task";
                        break;
                }
                nextButton = document.getElementById("nextButton");
                messageDiv = document.getElementById("message");

                if (nextButton) {
                    document.getElementById("nextButton").setAttribute("onmousedown", "");
                }

                if (messageDiv) {
                    document.getElementById("message").style.display = "block";
                }

                chosenPlan = options[i].children[1].innerHTML;
                state = options[i].children[1].getAttribute("state");
                return createEncounter(options[i].children[1].innerHTML, path, options[i].children[1].getAttribute("state"));

                break;
            }

        }
        if (checked == false)
            showMessage("Please select one action to proceed");
    }

    function createEncounter(chosenPlan, path, state) {

        if (state == "On Treatment") {
            state = null;
        }

        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'HYPERTENSION MANAGEMENT',
            encounter_type_id: 48,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        }

        submitParameters(encounter, "/encounters", "postHypertensionManagementObs");

    }

    var plan_concept_id = 7834;

    function postHypertensionManagementObs(encounter) {

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                {concept_id: plan_concept_id, value_text: chosenPlan}
            ]
        };

        submitParameters(obs, "/observations", redirectToRequiredTask())
    }

    function redirectToRequiredTask() {
        if (path.match(/next_task/i)) {
            nextEncounter(sessionStorage.patientID, 1);
            return;
        }

        window.location = path;
    }

    function referPatient() {
        window.location = "/htn_encounter/refer_to_clinician"
    }

    //initializeVariables();
    getRiskFactors();

    var transferred_concept_id = 6986;
    var answer_concept_id = "";
    var yes_concept_id = 1065;
    var no_concept_id = 1066;
    var vitals_obs = {}

    function createVitalsTransferObs() {
        var options = document.getElementsByClassName("option")
        var checked = false;
        for (i = 0; i < options.length; i++) {
            if (options[i].getAttribute("selected") == "true") {
                checked = true;
                var value = options[i].getAttribute("value");

                if (value.match(/YES/i)) {
                    answer_concept_id = yes_concept_id;
                }

                if (value.match(/NO/i)) {
                    answer_concept_id = no_concept_id;
                }

                vitals_obs = {concept_id: transferred_concept_id, value_coded: answer_concept_id}
                var currentTime = moment().format(' HH:mm:ss');
                var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
                encounter_datetime += currentTime;

                var encounter = {
                    encounter_type_name: 'VITALS',
                    encounter_type_id: 6,
                    patient_id: sessionStorage.patientID,
                    encounter_datetime: encounter_datetime
                }

                submitParameters(encounter, "/encounters", "postVitalsObs");

                break;
            }
        }

        if (checked == false) showMessage("Please select one action to proceed");
    }

    function postVitalsObs(encounter) {

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [vitals_obs]
        };

        submitParameters(obs, "/observations", "gotoRequiredNextTask")
    }

    function gotoRequiredNextTask() {
        nextEncounter(sessionStorage.patientID, 1);
    }


    function addMedicalHistory() {
        window.location = "/apps/ART/views/htn/medical_history.html";
    }

    function editMedicalHistory() {
        window.location = "/apps/ART/views/htn/risk_factors_index.html";
    }

    function addHypertensionDiagnosisButton() {
        var button = document.createElement("button");
        button.id = "hypeternsion-diagnosis";
        button.className = 'blue'
        button.innerHTML = "<span>Hypertension Diagnosis</span>";
        button.style.cssFloat = "left";

        button.onclick = function () {
            window.location = "/apps/ART/views/htn/hypertension_diagnosis.html";
        }

        if (__$("buttons")) {
            __$("buttons").appendChild(button);
            __$("nextButton").style.display = 'none'; //Hiding the finish button
        }
    }

</script>