<html>
<head>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>

    <style>
        .body {
            margin-top: 10%;
            color: gray;
            text-align: center;
            width: 99%;
            text-decoration: none;
        }

        .main-table {
            width: 90%;
            margin: auto;
            font-size: 1.8em;
            background: rgb(243, 253, 250);
            margin-top: 40px;
            border: 1px dotted gray;
            border-radius: 5px;
        }

        .header {
            width: 99%;
            text-align: center;
            margin-top: 3%;
            color: black;
        }

        th {
            font-size: 1.6em;
            font-weight: normal;
            border-radius: 5px;
        }

        .risk-tr {
            background: rgb(233, 233, 200);

        }
    </style>

    <script>
        var tt_next_destination = "/apps/ART/views/htn/vitals_confirmation.html";

        function nextPage() {
            window.location = "/apps/ART/views/htn/bp_management.html";
        }

        function nextriskFactorPage() {
            window.location = "/apps/ART/views/htn/medical_history.html";
        }

        var diabetes_concept_id = 3720;
        var chronic_kidney_disease_concept_id = 7623;
        var past_history_of_ihd_or_cvd_concept_id = 9499;
        var first_degree_relative_with_ihd_or_cvd_concept_id = 9501;
        var patiently_currently_smokes_concept_id = 3339;

        var yes_concept_id = 1065;

        var diabetes_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        diabetes_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        diabetes_risk_url += "&concept_id=" + diabetes_concept_id;
        diabetes_risk_url += "&value_coded=" + yes_concept_id;

        var chronic_kidney_disease_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        chronic_kidney_disease_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        chronic_kidney_disease_risk_url += "&concept_id=" + chronic_kidney_disease_concept_id;
        chronic_kidney_disease_risk_url += "&value_coded=" + yes_concept_id;

        var past_history_of_ihd_or_cvd_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        past_history_of_ihd_or_cvd_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        past_history_of_ihd_or_cvd_risk_url += "&concept_id=" + past_history_of_ihd_or_cvd_concept_id;
        past_history_of_ihd_or_cvd_risk_url += "&value_coded=" + yes_concept_id;

        var first_degree_relative_with_ihd_or_cvd_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        first_degree_relative_with_ihd_or_cvd_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        first_degree_relative_with_ihd_or_cvd_risk_url += "&concept_id=" + first_degree_relative_with_ihd_or_cvd_concept_id;
        first_degree_relative_with_ihd_or_cvd_risk_url += "&value_coded=" + yes_concept_id;

        var patiently_currently_smokes_risk_url = apiProtocol + "://" + apiURL + ":" + apiPort;
        patiently_currently_smokes_risk_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
        patiently_currently_smokes_risk_url += "&concept_id=" + patiently_currently_smokes_concept_id;
        patiently_currently_smokes_risk_url += "&value_coded=" + yes_concept_id;

        var risk_factors = [];

        function getRiskFactors() {
            var xhttp1 = new XMLHttpRequest();
            xhttp1.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var observations = JSON.parse(this.responseText);
                    if (observations.length > 0) {
                        risk_factors.push("Diabetes");
                    }

                    var xhttp2 = new XMLHttpRequest();
                    xhttp2.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                            var observations = JSON.parse(this.responseText);
                            if (observations.length > 0) {
                                risk_factors.push("Chronic kidney disease");
                            }

                            var xhttp3 = new XMLHttpRequest();
                            xhttp3.onreadystatechange = function () {
                                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                    var observations = JSON.parse(this.responseText);
                                    if (observations.length > 0) {
                                        risk_factors.push("Past history of IHD or CVD");
                                    }

                                    var xhttp4 = new XMLHttpRequest();
                                    xhttp4.onreadystatechange = function () {
                                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                            var observations = JSON.parse(this.responseText);
                                            if (observations.length > 0) {
                                                risk_factors.push("First degree relative with IHD or CVD <65");
                                            }

                                            var xhttp5 = new XMLHttpRequest();
                                            xhttp5.onreadystatechange = function () {
                                                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                    var observations = JSON.parse(this.responseText);
                                                    if (observations.length > 0) {
                                                        risk_factors.push("Patient currently smokes");
                                                    }
                                                    risk_factors = risk_factors.unique();
                                                    showRiskFactors(risk_factors);
                                                }
                                            };

                                            xhttp5.open("GET", patiently_currently_smokes_risk_url, true);
                                            xhttp5.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                            xhttp5.setRequestHeader('Content-type', "application/json");
                                            xhttp5.send();
                                        }

                                    };

                                    xhttp4.open("GET", first_degree_relative_with_ihd_or_cvd_risk_url, true);
                                    xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                    xhttp4.setRequestHeader('Content-type', "application/json");
                                    xhttp4.send();
                                }
                            };

                            xhttp3.open("GET", past_history_of_ihd_or_cvd_risk_url, true);
                            xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                            xhttp3.setRequestHeader('Content-type', "application/json");
                            xhttp3.send();

                        }

                    };

                    xhttp2.open("GET", chronic_kidney_disease_risk_url, true);
                    xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                    xhttp2.setRequestHeader('Content-type', "application/json");
                    xhttp2.send();

                }


            };

            xhttp1.open("GET", diabetes_risk_url, true);
            xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp1.setRequestHeader('Content-type', "application/json");
            xhttp1.send();
        }

        function showRiskFactors(elements) {
            var html = "";
            var count = 1;
            for (var i = 0; i <= elements.length - 1; i++) {
                html += "<tr class='risk-tr'>";
                html += "<td class='num'>" + count + "</td>";
                html += "<td class='risk'>" + elements[i] + "</td>";
                html += "</tr>";
                count = count + 1
            }

            var mainTable = document.getElementsByClassName("main-table")[0];
            mainTable.innerHTML += html;
        }

        Array.prototype.unique = function () {
            var arr = [];
            for (var i = 0; i < this.length; i++) {
                if (!arr.includes(this[i])) {
                    arr.push(this[i]);
                }
            }
            return arr;
        }


        getRiskFactors();
    </script>
</head>

<body id="mateme">
<div id="container">
    <div id="content">
        <div>
            <table class="main-table">

                <tr class='header'>
                    <th>&nbsp;</th>
                    <th>Risk Factors</th>
                </tr>

            </table>
        </div>

        <div id="buttons" class="buttonsDiv">
            <button id="nextButton" class="button green navButton" onmousedown="nextPage()"><span>Finish</span></button>
            <button class="button blue navButton" onmousedown="nextriskFactorPage()"><span>Edit Risk Factors</span>
            </button>
        </div>
    </div>
</body>
</html>