
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>
    #summary {
        padding: 0px;
        font-size:1.2em;
        margin-left: 25px;
        height: 70vh;
        max-height: 80vh;
        overflow: hide;

    }

    .title {
        text-decoration:underline;
        margin-right:10px;
    }

    .lowWeightForHeight{color:black;background:red;}
    .medWeightForHeight {color:black;background:yellow;}
    .lowBMI {color:black;background:red;}
    .lowBMIcounselling {color:black;background:orange;}
    .lowWeightForAge {color:black;background:red;}
    .medWeightForAge {color:black;background:yellow;}
    .goodWeightForAge {color:black;}
    .lowHeightForAge {color:black;background:red;}
    .medHeightForAge {color:black;background:yellow;}
    .goodHeightForAge {color:black;}

    #tt_page_summary .inputFrameClass { height:90%;}
    .inputFrameClass, .touchscreenTextInput, .keyboard, .inputPage{
        width: 97.5%;
    }

    #qwerty{ display:none; }

    .unknownButton .numericKeyboard #char, #slash, #star, #plus, #date, #minus, #comma, #percent {
        display: none;
    }

</style>

<script>
    var apiProtocol = sessionStorage.apiProtocol;
    var apiURL = sessionStorage.apiURL;
    var apiPort = sessionStorage.apiPort;
    var patientID = sessionStorage.patientID;

    function submitVitalsEncounter() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'VITALS',
            encounter_type_id:  6,
            patient_id: patientID,
            encounter_datetime: encounter_datetime
        }

        submitParameters(encounter, "/encounters", "postVitalsObs");

    }

    var systollic_blood_pressure_concept_id = 5085;
    var diastollic_blood_pressure_concept_id = 5086;

    function postVitalsObs(encounter) {

        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: systollic_blood_pressure_concept_id, value_numeric: answers_hash["sbp"] },
                { concept_id: diastollic_blood_pressure_concept_id, value_numeric: answers_hash["dbp"] }
            ]
        };

        submitParameters(obs, "/observations", "nextPage")
    }

    var answers_hash = {
        sbp: "",
        dbp: ""
    }

    function setNextButtonToGetInputValue(key){
        __$('nextButton').onmousedown = function(){
            value = __$('touchscreenInput' + tstCurrentPage).value;
            answers_hash[key] = value;
            gotoNextPage();
        }
    }

    function changeSubmitButton() {
        __$('nextButton').onmousedown = function(){
            submitVitalsEncounter();
        }
    }

    function nextPage(){
        nextEncounter(sessionStorage.patientID, 1);
    }

    function showSummary(){
        jQuery('#keyboard').empty();
        var displayText = "";
        var sbp = document.getElementById("systolic_blood_pressure").value;
        var dbp = document.getElementById("diastolic_blood_pressure").value;
        var htn_systolic_threshold = 140;
        var htn_diastolic_threshold = 90;

        if((parseInt(sbp) > htn_systolic_threshold) && (parseInt(dbp) > htn_diastolic_threshold)){
            displayText += "<div><span class='title'>BP Reading:</span><span class='lowBMIcounselling'>" + sbp +"/" +
                dbp + "</span><span class='recommendation'> Patient's blood pressure is high</span><br/>";
        }
        else {
            displayText += "<div><span class='title'>BP:</span>" + sbp +"/" + dbp + "<br/>";
        }

        document.getElementById('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary">' + displayText + '</div>' ;

        changeSubmitButton();
    }

    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;
</script>

<body id="mateme">
    <div id="container">
        <div id="content">
            <form>

                <input type="text" name="systollic_blood_pressure" id="systolic_blood_pressure" absoluteMin="0" absoluteMax="300"
                       field_type="number" validationRule="^([0-9]+)|Unknown$" tt_onLoad="setNextButtonToGetInputValue('sbp');"
                       validationMessage="You must enter numbers only (for example 157)"
                       tt_pageStyleClass="KeyboardNumeric NumbersOnly" helpText="Systolic blood pressure" min="80" max="180" />


                <input type="text" name="diastolic_blood_pressure" id="diastolic_blood_pressure" absoluteMin="0" absoluteMax="200"
                       field_type="number" validationRule="^([0-9]+)|Unknown$" tt_onLoad="setNextButtonToGetInputValue('dbp');"
                       validationMessage="You must enter numbers only (for example 157)"
                       tt_pageStyleClass="KeyboardNumeric NumbersOnly" helpText="Diastollic blood pressure" min="50" max="110" />

                <input type="text" name="summary" id="summary" tt_onLoad="showSummary();" helpText="Summary" optional="true" />

            </form>

        </div>
    </div>
</body>

