<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"/>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script>
        var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;
        var apiProtocol = sessionStorage.apiProtocol;
        var apiURL = sessionStorage.apiURL;
        var apiPort = sessionStorage.apiPort;
        var patientID = sessionStorage.patientID;

        jQuery.noConflict();
        var displayText;
        var bpOverRide;

        bpOverRide = false;

        function $(e) {
            return document.getElementById(e);
        }

        function showSummary() {
            jQuery('#keyboard').empty();
            displayText = "";
            var sbp = document.getElementById("systolic_blood_pressure").value
            var dbp = document.getElementById("diastolic_blood_pressure").value

            var patient_weight = __$('weight').value;
            displayText += "<div><span class='title'>Weight (Kg) :</span>" + __$('weight').value + "<br/>";
            displayText += "<div><span class='title'>Height (cm) :</span>" + currentHeight + "<br/>";
            displayText += "<div><span class='title'>BMI :</span>";

            currentBmi = (patient_weight / (currentHeight * currentHeight) * 10000).toFixed(1)

            if (currentBmi > 18.5) {
                displayText += currentBmi;
            } else {
                displayText += "<span class='lowBMI'>" + currentBmi + "</span> <span class='recommendation'>Eligible for therapeutic feeding</span>";
            }
            displayText += "</div>"

            if ((parseInt(sbp) > parseInt(htn_systollic_property)) && (parseInt(dbp) > parseInt(htn_diastollic_property))) {

                displayText += "<div><span class='title'>BP Reading:</span><span class='lowBMIcounselling'>" + sbp + "/" +
                    dbp + "</span><span class='recommendation'>Patient's blood pressure is high</span><br/>";
            }
            else {
                if (sbp != "") {
                    displayText += "<div><span class='title'>BP:</span>" + sbp + "/" + dbp + "<br/>";
                }

            }

            document.getElementById('inputFrame' + tstCurrentPage).innerHTML = '<div id="summary">' + displayText + '</div>';
        }


        function hookKeyboard() {

            __$("nextButton").onclick = function () {
                __$('keyboard').style.display = "block";
            }
            __$("backButton").onclick = function () {
                __$('keyboard').style.display = "block";

            }
        }

        function captureBP() {
            if (patient_eligible_for_screening && !bpOverRide) {
                return true;
            }
            else if (!patient_eligible_for_screening && bpOverRide) {
                return true;
            }
            else {
                return false;
            }
        }

        function toggleOverride() {
            bpOverRide = (!bpOverRide);
            document.getElementById("captureBPBtn").innerHTML = (document.getElementById("captureBPBtn").innerHTML == "<span>Capture BP</span>" ? "<span>BP Unavailable</span>" : "<span>Capture BP</span>");
        }

        function addButton() {
            jQuery("#captureBPBtn").remove();
            if (!patient_eligible_for_screening) {
                var bp = document.createElement("button");
                bp.innerHTML = "<span>Capture BP</span>";
                bp.setAttribute("onClick", "toggleOverride()");
                bp.setAttribute("id", "captureBPBtn")
                document.getElementById("buttons").appendChild(bp);
            }
            else {
                var bp = document.createElement("button");
                bp.innerHTML = "<span>BP Unavailable</span>";
                bp.setAttribute("onClick", "toggleOverride()");
                bp.setAttribute("id", "captureBPBtn")
                document.getElementById("buttons").appendChild(bp);
            }

        }

        function hideButton() {
            jQuery("#captureBPBtn").hide();
        }

        function displayButton() {
            jQuery("#captureBPBtn").show();
        }

        function hasHighBp() {
            var sbp = document.getElementById("systolic_blood_pressure").value
            var dbp = document.getElementById("diastolic_blood_pressure").value

            if ((parseInt(sbp) > 0) && (parseInt(dbp) > 0)) {
                return true
            }
            else {
                return false
            }
        }


        function submitVitals() {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_name: 'Vitals',
                encounter_type_id: 6,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            }

            submitParameters(encounter, "/encounters", "postVitalsObs");
        }

        var answers_hash = {
            "weight": "",
            "height": "",
            "systollic": "",
            "diastollic": "",
            "treatment_status": ""
        };

        var weight_concept_id = 5089;
        var height_concept_id = 5090;
        var systollic_concept_id = 5085;
        var diastollic_concept_id = 5086;
        var treatment_status_concept_id = 1484;
        var weight_for_height_concept_id = 1822;
        var weight_for_age_concept_id = 6396;
        var height_for_age_concept_id = 6397;
        var bmi_concept_id = 2137;

        function postVitalsObs(encounter) {
            var height = 0;
            if (patient_age > 18 && currentHeight != 0) {
                height = currentHeight;
            } else {
                height = answers_hash["height"];
            }

            var obs = {
                encounter_id: encounter.encounter_id,
                observations: [
                    {concept_id: weight_concept_id, value_numeric: answers_hash["weight"]},
                    {concept_id: height_concept_id, value_numeric: height, value_modifier: "cm"},
                    {concept_id: systollic_concept_id, value_numeric: answers_hash["systollic"]},
                    {concept_id: diastollic_concept_id, value_numeric: answers_hash["diastollic"]},
                    {concept_id: treatment_status_concept_id, value_text: answers_hash["treatment_status"]}
                ]
            };

            if (patient_age <= 14) {
                var current_weight_percentile = (parseFloat(answers_hash["weight"]) / (parseFloat(patient_median_Weight_height["weight"])) * 100).toFixed(0);
                var current_height_percentile = (parseFloat(answers_hash["height"]) / (parseFloat(patient_median_Weight_height["height"])) * 100).toFixed(0)
                var currentHeightRounded = (height % Math.floor(height) < 0.5 ? 0 : 0.5) + Math.floor(height);
                var medianWeightHeight = patient_weight_for_height_values[currentHeightRounded.toFixed(1)];
                var weight_for_height_percentile = (answers_hash["weight"]/(medianWeightHeight)*100).toFixed(0);

                obs.observations.push({concept_id: weight_for_height_concept_id, value_text: weight_for_height_percentile});
                obs.observations.push({concept_id: weight_for_age_concept_id, value_text: current_weight_percentile});
                obs.observations.push({concept_id: height_for_age_concept_id, value_text: current_height_percentile});
            } else {
                var currentBmi = (answers_hash["weight"] / (height * height) * 10000).toFixed(1);
                obs.observations.push({concept_id: bmi_concept_id, value_numeric: currentBmi})
            }

            submitParameters(obs, "/observations", "nextPage");
        }

        function nextPage() {
            nextEncounter(sessionStorage.patientID, 1);
        }

        function setNextButtonToGetInputValue(key) {
            __$('nextButton').onmousedown = function () {
                   try {
                    var value = __$('touchscreenInput' + tstCurrentPage).value;
                    answers_hash[key] = value;
                   } catch(e){
                            console.log(e)
                   }
            
                gotoNextPage();
            }
        }

        function changeSubmitButton() {
            var treatment_status_answer = "";
            try {
                treatment_status_answer = __$("treatment_status").value;
                answers_hash["treatment_status"] = treatment_status_answer;
            } catch (e) {
              showMessage(e)
            }
            __$('nextButton').onmousedown = function () {
                submitVitals();
            }
        }

        var currentHeight = 0;
        var patient_age = parseInt(sessionStorage.patientAge);
        var htn_systollic_property = 0;
        var htn_diastollic_property = 0;

        var bp_treatment_info_available = false;
        var treatment_status_concept_id = 1484;
        var height_concept_id = 5090;

        var patient_eligible_for_screening = false;
        var patient_median_Weight_height = {};
        var patient_weight_for_height_values = {}

        function initializeVariables() {
            jQuery(".loader").show();
            jQuery('#keyboard').hide();
            jQuery("#buttons").hide();
            jQuery("#tt_page_weight_kg").hide();
            jQuery("#inputFrame" + tstCurrentPage).hide();

            var bp_info_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            bp_info_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            bp_info_url += "&concept_id=" + treatment_status_concept_id;

            var height_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            height_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            height_url += "&concept_id=" + height_concept_id;

            var systollic_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            systollic_property_url += "/api/v1/global_properties?property=htn.systolic.threshold";

            var diastollic_property_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            diastollic_property_url += "/api/v1/global_properties?property=htn.diastolic.threshold";

            //eligible_for_htn_screening
            var patient_eligible_for_htn_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            patient_eligible_for_htn_url += "/api/v1/patients/" + sessionStorage.patientID + "/eligible_for_htn_screening";

            var weight_height_age_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            weight_height_age_url += "/api/v1/patients/" + sessionStorage.patientID + "/median_weight_height";

            var patient_weight_for_height_values_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            patient_weight_for_height_values_url += "/api/v1/patient_weight_for_height_values"; //NOT patient specific

            var xhttp1 = new XMLHttpRequest();
            xhttp1.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var bp_treatment_status_obs = JSON.parse(this.responseText);
                    if (bp_treatment_status_obs.length > 0) {
                        bp_treatment_info_available = true;
                    }
                    var xhttp2 = new XMLHttpRequest();
                    xhttp2.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                            var height_obs = JSON.parse(this.responseText);
                            if (height_obs.length > 0) {
                                currentHeight = height_obs[0].value_numeric;
                            }

                            var xhttp3 = new XMLHttpRequest();
                            xhttp3.onreadystatechange = function () {
                                if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {

                                    try {
                                        var systollic_property = JSON.parse(this.responseText);
                                        if (systollic_property["htn.systolic.threshold"]) {
                                            htn_systollic_property = systollic_property["htn.systolic.threshold"]
                                        }
                                    } catch (e) {

                                    }

                                    var xhttp4 = new XMLHttpRequest();
                                    xhttp4.onreadystatechange = function () {
                                        if (this.readyState == 4 && (this.status == 201 || this.status == 200 || this.status == 404)) {
                                            try {
                                                var diastollic_property = JSON.parse(this.responseText);
                                                if (diastollic_property["htn.diastolic.threshold"]) {
                                                    htn_diastollic_property = diastollic_property["htn.diastolic.threshold"];
                                                }
                                            } catch (e) {

                                            }

                                            var xhttp5 = new XMLHttpRequest();
                                            xhttp5.onreadystatechange = function () {
                                                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                    var eligible_for_screening = JSON.parse(this.responseText);
                                                    patient_eligible_for_screening = eligible_for_screening["eligible"];
                                                    addButton();
                                                    resetPage();
                                                    if (patient_age <= 14) {
                                                        var xhttp6 = new XMLHttpRequest();
                                                        xhttp6.onreadystatechange = function () {
                                                            if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                                patient_median_Weight_height = JSON.parse(this.responseText);
                                                                var xhttp7 = new XMLHttpRequest();
                                                                xhttp7.onreadystatechange = function () {
                                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                                        patient_weight_for_height_values = JSON.parse(this.responseText);
                                                                    }
                                                                }
                                                                xhttp7.open("GET", patient_weight_for_height_values_url, true);
                                                                xhttp7.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                                xhttp7.setRequestHeader('Content-type', "application/json");
                                                                xhttp7.send();
                                                            }
                                                        };

                                                        xhttp6.open("GET", weight_height_age_url, true);
                                                        xhttp6.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                        xhttp6.setRequestHeader('Content-type', "application/json");
                                                        xhttp6.send();
                                                    }
                                                }
                                            };
                                            xhttp5.open("GET", patient_eligible_for_htn_url, true);
                                            xhttp5.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                            xhttp5.setRequestHeader('Content-type', "application/json");
                                            xhttp5.send();

                                        }
                                    };
                                    xhttp4.open("GET", diastollic_property_url, true);
                                    xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                    xhttp4.setRequestHeader('Content-type', "application/json");
                                    xhttp4.send();
                                }
                            }
                            xhttp3.open("GET", systollic_property_url, true);
                            xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                            xhttp3.setRequestHeader('Content-type', "application/json");
                            xhttp3.send();
                        }
                    }
                    xhttp2.open("GET", height_url, true);
                    xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                    xhttp2.setRequestHeader('Content-type', "application/json");
                    xhttp2.send();
                }
            }
            xhttp1.open("GET", bp_info_url, true);
            xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp1.setRequestHeader('Content-type', "application/json");
            xhttp1.send();
        }

        function growthIndicators(){

            jQuery('#keyboard').empty();
            if ((patient_age) > 14) {
                showBMI();
            } else {
                showWeightHeightForAge();
                showWeightForHeight();
            }

            document.getElementById('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary"><div>' + displayText + '</div><div id="charts" style="overflow: hidden;height:185px;margin:2px 6px 6px !important;padding:2px !important;width:380px;"></div></div>' ;

        }

        function showBMI() {
            var currentBmi = (answers_hash["weight"] / (currentHeight * currentHeight) * 10000).toFixed(1);
            displayText = "<div><span class='title'>BMI:</span>";
            if (currentBmi > 18.5) {
                displayText += currentBmi;
            } else if (currentBmi > 17.0) {
                displayText += "<span class='lowBMIcounselling'>" + currentBmi + "</span>" + "<br/><span class='recommendation'> Eligible for counseling</span>";
            } else {
                displayText += "<span class='lowBMI'>" + currentBmi + "</span><br/><span class='recommendation'>Eligible for therapeutic feeding</span>";
            }
            displayText += "</div>";
        }

        function showWeightHeightForAge(){
            var current_weight_percentile = (parseFloat(answers_hash["weight"]) / (parseFloat(patient_median_Weight_height["weight"])) * 100).toFixed(0);
            var current_height_percentile = (parseFloat(answers_hash["height"]) / (parseFloat(patient_median_Weight_height["height"])) * 100).toFixed(0);

            displayText = "<div><span class='title'>Weight for age:</span>";
            if (current_weight_percentile >= 80){
                displayText += "<span class='goodWeightForAge'>" + current_weight_percentile + "%</span><br>";
            } else if (current_weight_percentile >= 75) {
                displayText += "<span class='medWeightForAge'>" + current_weight_percentile + "%</span>" + " <span class='recommendation'> Moderate wasting </span><br>";
            } else {
                displayText += "<span class='lowWeightForAge'>" + current_weight_percentile + "%</span>" + " <span class='recommendation'> Severe wasting</span><br>";
            }
            displayText += "</div>";

            displayText += "<div><span class='title'>Height for age:</span>";
            if (current_height_percentile >= 80){
                displayText += "<span class='goodHeightForAge'>" + current_height_percentile + "%</span><br>";
            } else if (current_height_percentile >= 75) {
                displayText += "<span class='medHeightForAge'>" + current_height_percentile + "%</span>" + " <span class='recommendation'> Moderate stunted growth </span><br>";
            } else {
                displayText += "<span class='lowHeightForAge'>" + current_height_percentile + "%</span>" + " <span class='recommendation'> Severe stunted growth </span><br>";
            }
            displayText += "</div>";
        }

        function showWeightForHeight() {
            var currentHeightRounded = (answers_hash["height"] % Math.floor(answers_hash["height"]) < 0.5 ? 0 : 0.5) + Math.floor(answers_hash["height"]);
            var medianWeightHeight = patient_weight_for_height_values[currentHeightRounded.toFixed(1)];
            var weight_for_height_percentile = (parseFloat(answers_hash["weight"])/(medianWeightHeight)*100).toFixed(0);

            displayText += "<div id='displayText'><span class='title'>Weight for height:</span>";

            if (weight_for_height_percentile >= 80) {
                displayText += "<span class='goodWeightForHeight'>" + weight_for_height_percentile + "%</span><br>";
            } else if (weight_for_height_percentile >= 75) {
                displayText += "<span class='medWeightForHeight'>" + weight_for_height_percentile + "%</span>" + " <span class='recommendation'> Moderate wasting</span><br>";
            } else {
                displayText += "<span class='lowWeightForHeight'>" + weight_for_height_percentile + "%</span>" + "<span class='recommendation'> Severe wasting</span><br>";
            }

            displayText += "</div>";
        }

        function resetPage() {
            jQuery('#keyboard').show();
            jQuery("#buttons").show();
            jQuery("#innerPop").show()
            jQuery("#inputFrame" + tstCurrentPage).show();
            jQuery(".loader").hide();
            jQuery("#tt_page_weight_kg").show();
        }

    </script>

    <style type="text/css">
        #summary {
            padding: 0px;
            font-size: 1.2em;
            margin-left: 25px;
            height: 70vh;
            max-height: 80vh;
            overflow: hidden;

        }

        #charts {
            position: absolute;
            width: 95% ! important;
            height: 60% ! important;
        }

        #char {
            display: none;
        }

        .title {
            text-decoration: underline;
            margin-right: 10px;
        }

        .lowWeightForHeight {
            color: black;
            background: red;
        }

        .medWeightForHeight {
            color: black;
            background: yellow;
        }

        .lowBMI {
            color: black;
            background: red;
        }

        .lowBMIcounselling {
            color: black;
            background: orange;
        }

        .lowWeightForAge {
            color: black;
            background: red;
        }

        .medWeightForAge {
            color: black;
            background: yellow;
        }

        .goodWeightForAge {
            color: black;
        }

        .lowHeightForAge {
            color: black;
            background: red;
        }

        .medHeightForAge {
            color: black;
            background: yellow;
        }

        .goodHeightForAge {
            color: black;
        }

        #tt_page_summary .inputFrameClass {
            height: 90%;
        }

        .inputFrameClass, .touchscreenTextInput, .keyboard, .inputPage {
            width: 97.5%;
        }

        #qwerty {
            display: none;
        }

        .unknownButton .numericKeyboard #char, #slash, #star, #plus, #date, #minus, #comma, #percent {
            display: none;
        }

        .loader {
            position: absolute;
            display: none;
            top: 30%;
            left: 40%;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            z-index: 9999999999999;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

    </style>


</head>
<body id="mateme">
<div id="container">
    <div id="content">

        <form action="">
            <input absoluteMax="250" absoluteMin="0" field_type="number" helpText="Weight (Kg)" id="weight"
                   name="weight"
                   tt_onLoad="$('clearButton').style.display = 'inline'; setNextButtonToGetInputValue('weight'); initializeVariables();"
                   tt_pageStyleClass="Keyboard Numeric NumbersOnlyWithDecimal" type="text" units="kg"
                   validationMessage="You must enter a decimal between 0 and 9 (for example: 54<b>.6</b>)"
                   validationRule="([0-9]+\.[0-9])|Unknown$"/>

            <select allowFreeText="false" helpText="Already taking drugs for blood pressure?"
                    condition="bp_treatment_info_available == false"
                    tt_onLoad="setNextButtonToGetInputValue('treatment_status')"
                    id="treatment_status" name="transfer_in" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value="BP Drugs started">Yes</option>
                <option value="Not on BP Drugs">No</option>
            </select>


            <input absoluteMax="228" absoluteMin="10" field_type="number" helpText="Height (cm)" id="height"
                   tt_onLoad="setNextButtonToGetInputValue('height')"
                   condition="currentHeight == 0 || patient_age <= 18"
                   name="height" tt_pageStyleClass="Numeric NumbersOnly" type="text"
                   units="cm" validationMessage="You must enter numbers only (for example 157)"
                   validationRule="^([0-9]+)|Unknown$"/>

            <input helpText="Weight Summary" id="showSummary" name="showSummary" optional="true"
                   tt_onLoad="growthIndicators();  __$('clearButton').style.display = 'none'; displayButton();"
                   tt_onUnLoad=" hideButton();__$('clearButton').style.display = 'block';" type="text" />

            <input absoluteMax="300" absoluteMin="60" condition="captureBP()" field_type="number"
                   helpText="Systolic blood pressure" id="systolic_blood_pressure"
                   name="sbp" tt_onLoad="hideButton(); setNextButtonToGetInputValue('systollic');"
                   tt_pageStyleClass="KeyboardNumeric NumbersOnly" type="text" units="mmHg"
                   validationMessage="You must enter numbers only (for example 157)"
                   validationRule="^([0-9]+)|Unknown$"/>

            <input absoluteMax="150" absoluteMin="30" condition="captureBP()" field_type="number"
                   helpText="Diastolic blood pressure" id="diastolic_blood_pressure" max="110" min="50"
                   name="dbp" tt_pageStyleClass="Keyboard Numeric NumbersOnly" type="text"
                   tt_onLoad="setNextButtonToGetInputValue('diastollic');"
                   units="mmHg" validationMessage="You must enter numbers only (for example 157)"
                   validationRule="^([0-9]+)|Unknown$"/>

            <input helpText="Summary" id="summary" name="summary" optional="true"
                   tt_onLoad="showSummary();hideButton(); changeSubmitButton();"
                   type="text"/>

            <input type='hidden' name='program' value='HYPERTENSION PROGRAM'/>-->

        </form>

        <div class="loader"></div>
    </div>
</div>
</body>
</html>

