<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
            defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
    <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

    <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
    <style type="text/css">
        #tt_page_month_cryo_was_done .options {
            height: 515px;
        }

        #tt_page_month_cryo_was_done .options li {
            font-size: 30px;
        }

        .tt_page_day_cryo_was_done #Unknown {
            display: none;
        }

        #tt_page_month_via_was_done .options {
            height: 515px;
        }

        .referral_count {
            color: orange;
            font-weight: bold;
            font-size: 14pt;
            font-style: italic;
            float: right;
            text-align: center;
            border-radius: 50%;
            width: 290px;
            height: 43px;
            background: black;
        }

        .referral_count span {
            top: 9px;
            position: relative;
        }

        #cervical_cancer_reminder_cover {
            position: absolute;
            background-color: black;
            width: 100%;
            height: 102%;
            left: 0%;
            top: 0%;
            z-index: 990;
            opacity: 0.3;
        }

        #cervical_cancer_reminder {
            position: absolute;
            width: 60%;
            height: 40%;
            top: 10%;
            z-index: 991;
            left: 16%;
            border: 1px solid black;
            background-color: #CD3333;
            border-radius: 15px;
        }

        #cervical_cancer_reminder_header {
            padding: 10px;
            background-color: white;
            color: black;
            border-radius: 15px 15px 0px 0px;
        }

        #cervical_cancer_reminder_footer {
            background-color: #FFD39B;
            height: 60px;
            width: 100%;
            position: absolute;
            width: 100%;
            position: absolute;
            bottom: 0px;
            border-radius: 0px 0px 15px 15px;
        }

        #cervical_cancer_reminder_footer span {
            background-color: goldenrod;
            position: absolute;
            padding: 12px 20%;
            right: 8px;
            bottom: 8px;
            font-weight: bold;
            cursor: pointer;
        }

        .loader {
            position: absolute;
            display: none;
            top: 30%;
            left: 40%;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            z-index: 9999999999999;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

    <script type="text/javascript">
        function patientReferredAndHasNoresults() {
            if (viaReferred == 'true' && patientHasviaResults == 'false') {
                return true;
            }

            return false;
        }

        function viaNotReferred() {
            if (viaReferred != 'true') {
                return true;
            }
            return false;
        }

        function updateCryptoDate() {
            year = __$('cryo_year').value;
            month = __$('cryo_month').value;
            day = __$("touchscreenInput" + tstCurrentPage).value;
            if (parseInt(day) < 10) {
                day = '0' + day;
            }
            if (parseInt(month) < 10) {
                month = '0' + month;
            }

            cryptoDate = day + '-' + month + '-' + year; // 01/Jan/2014

            __$('cryo_done_date').value = cryptoDate;
        }

        function changeAttributes() {
            __$('nextButton').innerHTML = '<span>Continue</span>';
            __$('nextButton').onmousedown = function () {
                ContinueWorkFlow();
            }
            __$('backButton').style.display = 'none';
            __$('clearButton').style.display = 'none';
            __$('cancelButton').style.display = 'none';
            __$('keyboard').style.display = 'none';
            __$('inputFrame0').style.display = 'none';
        }

        function modifyAttributes() {
            __$('keyboard').style.display = 'none';
            __$('inputFrame' + tstCurrentPage).style.display = 'none';
            __$('helpText' + tstCurrentPage).style.position = 'absolute';
            __$('helpText' + tstCurrentPage).style.fontSize = '2em';
            __$('helpText' + tstCurrentPage).style.paddingLeft = '0px';
            __$('helpText' + tstCurrentPage).style.paddingTop = '234px';
            __$('helpText' + tstCurrentPage).style.width = '90%';
            __$('helpText' + tstCurrentPage).style.left = '35px';
            __$('helpText' + tstCurrentPage).style.textAlign = 'center';
        }

        function ContinueWorkFlow() {
            jQuery.ajax({
                type: "POST",
                url: "/patients/set_cervical_cancer_session_variable",
                data: "patient_id=" + patientID,
                success: function (nextUrl) {
                    window.location = nextUrl;
                }
            });
        }

        function cervicalFirstVisitPatient() {
            if (cervicalCancerFirstVisitPatient == 'true') {
                return true;
            }

            return false
        }

        function patientVIAwithinThreeYears() {
            if (cervicalFirstVisitPatient() == true) {
                viaYear = parseInt(__$('via_year').value);
                viaMonth = parseInt(__$('via_month').value);
                dateString = viaYear + ', ' + viaMonth + ', ' + 1;
                viaDate = new Date(dateString);
                today = new Date();
                date_diff_result = dateDiff(today, viaDate);
                if (date_diff_result[2] < 3) {
                    return true
                }
                else {
                    return false
                }
            }
            else {
                return false
            }
        }

        function dateDiff(date1, date2) {
            var diff = Math.floor(date1.getTime() - date2.getTime());
            var day = 1000 * 60 * 60 * 24;

            var days = Math.floor(diff / day);
            var months = Math.floor(days / 31);
            var years = Math.floor(months / 12);

            return [days, months, years]
        }

        function updateVIAdoneDate() {
            year = __$('via_year').value;
            month = __$('via_month').value;
            day = 1; //We are just setting the day to be 1 coz we are not capturing it;

            if (parseInt(day) < 10) {
                day = '0' + day;
            }

            if (parseInt(month) < 10) {
                month = '0' + month;
            }

            viaDate = day + '-' + month + '-' + year; // 01/Jan/2014

            if (__$('via_done_date')) {
                __$('via_done_date').value = viaDate;
            }
        }

        function showCervicalCancerWarning() {
            jQuery("#cervical_cancer_reminder").show();
            jQuery("#cervical_cancer_reminder_cover").show();
        }

        function hideCervicalCancerWarning() {
            jQuery("#cervical_cancer_reminder").hide();
            jQuery("#cervical_cancer_reminder_cover").hide();
        }

        function setCervicalCancerDelayedReminder() {
            jQuery("#cervical_cancer_reminder").hide();
            jQuery("#cervical_cancer_reminder_cover").hide();

            available_options = document.getElementsByTagName('li');
            for (i = 0; i < available_options.length; i++) {
                inputValue = available_options[i].getAttribute("tstvalue");
                if (inputValue.match(/CRYO DELAYED/i)) {
                    available_options[i].onmouseup = function () {
                        showCervicalCancerWarning();
                    }
                }
            }
        }

        var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;
        var viaReferred = "false";
        var patientHasviaResults = "false";
        var lesionSizeTooBig = "false";
        var cervicalCancerFirstVisitPatient = "true";
        var patientWentForVIA = "false";
        var cryoDelayed = "false";
        var latest_cervical_cancer_result

        var ever_had_via_concept_id = 9510;
        var via_referral_concept_id = 9503;
        var via_results_available = 9505;
        var patient_went_for_via = 9512;
        var via_results_concept_id = 9504;
        var positive_cro_concept_id = 9506;
        var via_referral_outcome_concept_id = 9508;
        var cryo_done_date_concept_id = 9509;
        var via_done_date_concept_id = 9511;

        var yes_concept_id = 1065;
        var no_concept_id = 1066;

        function initializeVariables() {
            jQuery(".loader").show();
            jQuery('#keyboard').hide();
            jQuery("#buttons").hide(); //inputFrame0
            jQuery("#inputFrame" + tstCurrentPage).hide();

            var patient_went_for_via_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            patient_went_for_via_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            patient_went_for_via_url += "&concept_id=" + ever_had_via_concept_id;
            patient_went_for_via_url += "&value_coded=" + yes_concept_id;

            var via_referral_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            via_referral_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            via_referral_url += "&concept_id=" + via_referral_concept_id;
            via_referral_url += "&value_coded=" + yes_concept_id;

            var ever_had_via_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            ever_had_via_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            ever_had_via_url += "&concept_id=" + ever_had_via_concept_id;

            var via_results_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            via_results_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            via_results_url += "&concept_id=" + via_results_concept_id;

            var via_result_obs_datetime_url = apiProtocol + "://" + apiURL + ":" + apiPort;
            via_result_obs_datetime_url += "/api/v1/observations?person_id=" + sessionStorage.patientID;
            via_result_obs_datetime_url += "&concept_id=" + via_results_concept_id;

            var xhttp1 = new XMLHttpRequest();
            xhttp1.onreadystatechange = function () {
                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                    var patient_weight_for_via_observations = JSON.parse(this.responseText);
                    if (patient_weight_for_via_observations.length > 0) {
                        patientWentForVIA = "true";
                    }

                    var xhttp2 = new XMLHttpRequest();
                    xhttp2.onreadystatechange = function () {
                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                            var patient_via_referral_observations = JSON.parse(this.responseText);
                            if (patient_via_referral_observations.length > 0) {
                                viaReferred = "true";
                            }

                            var xhttp3 = new XMLHttpRequest();
                            xhttp3.onreadystatechange = function () {
                                if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                    var ever_had_via_observations = JSON.parse(this.responseText);
                                    if (ever_had_via_observations.length > 0) {
                                        cervicalCancerFirstVisitPatient = "false";
                                    }

                                    var xhttp4 = new XMLHttpRequest();
                                    xhttp4.onreadystatechange = function () {
                                        if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                            var via_results_observations_records = JSON.parse(this.responseText);
                                            if (via_results_observations_records.length > 0) {
                                                var latest_via_results_obs_date = via_results_observations_records[0]["obs_datetime"];
                                                latest_via_results_obs_date = moment(latest_via_results_obs_date).format("YYYY-MM-DD");

                                                var xhttp5 = new XMLHttpRequest();
                                                xhttp5.onreadystatechange = function () {
                                                    if (this.readyState == 4 && (this.status == 201 || this.status == 200)) {
                                                        var via_results_observations = JSON.parse(this.responseText);
                                                        if (via_results_observations.length > 0) {
                                                            for (var key in via_results_observations) {
                                                                var obs_datetime = via_results_observations[key]["obs_datetime"];
                                                                obs_datetime = moment(obs_datetime).format("YYYY-MM-DD");
                                                                if (obs_datetime >= latest_via_results_obs_date) {
                                                                    var cervical_cancer_result_obs = via_results_observations[key];
                                                                    patientHasviaResults = "true";
                                                                    latest_cervical_cancer_result = cervical_cancer_result_obs["value_text"]; //TODO
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                    }
                                                };
                                                xhttp5.open("GET", via_results_url, true);
                                                xhttp5.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                                xhttp5.setRequestHeader('Content-type', "application/json");
                                                xhttp5.send();

                                            }
                                            else {
                                                gotoNextPage();
                                            }
                                        }
                                    };
                                    xhttp4.open("GET", via_result_obs_datetime_url, true);
                                    xhttp4.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                                    xhttp4.setRequestHeader('Content-type', "application/json");
                                    xhttp4.send();

                                }
                            };
                            xhttp3.open("GET", ever_had_via_url, true);
                            xhttp3.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                            xhttp3.setRequestHeader('Content-type', "application/json");
                            xhttp3.send();

                        }
                    };
                    xhttp2.open("GET", via_referral_url, true);
                    xhttp2.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
                    xhttp2.setRequestHeader('Content-type', "application/json");
                    xhttp2.send();


                }
            };

            xhttp1.open("GET", patient_went_for_via_url, true);
            xhttp1.setRequestHeader('Authorization', sessionStorage.getItem("authorization"));
            xhttp1.setRequestHeader('Content-type', "application/json");
            xhttp1.send();
        }

        function resetPage() {
            jQuery('#keyboard').show();
            jQuery("#buttons").show();
            jQuery("#innerPop").show()
            jQuery("#inputFrame" + tstCurrentPage).show();
            jQuery(".loader").hide();
        }

        var answers_hash = {
            "ever_had_via": "",
            "year_via_was_done": "",
            "month_via_was_done": "",
            "day_via_was_done": ""
        }

        function setNextButtonToGetInputValue(key) {
            __$('nextButton').onmousedown = function () {
                value = __$('touchscreenInput' + tstCurrentPage).value;
                answers_hash[key] = value;
                gotoNextPage();
            }
        }

        function submitCervicalCancerScreening() {
            var currentTime = moment().format(' HH:mm:ss');
            var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
            encounter_datetime += currentTime;

            var encounter = {
                encounter_type_id: 154,
                patient_id: sessionStorage.patientID,
                encounter_datetime: encounter_datetime
            };

            submitParameters(encounter, "/encounters", "postCervicalCancerScreeningObs");
        }

        var via_done_date = "";
        var patient_eligible_for_via;

        var calendar_months = {
            "Jan": "01",
            "Feb": "02",
            "Mar": "03",
            "Apr": "04",
            "May": "05",
            "Jun": "06",
            "Jul": "07",
            "Aug": "08",
            "Sep": "09",
            "Oct": "10",
            "Nov": "11",
            "Dec": "12",
        };

        function postCervicalCancerScreeningObs(encounter) {
            var year_via_was_done = answers_hash["year_via_was_done"];
            var month_via_was_done = answers_hash["month_via_was_done"];

            if (year_via_was_done.length > 0) {
                if (month_via_was_done.length > 0) {
                    via_done_date = year_via_was_done + "-" + calendar_months[month_via_was_done] + "-" + "01";
                }
            }

            var obs = {
                encounter_id: encounter.encounter_id,
                observations: [
                    {
                        concept_id: ever_had_via_concept_id,
                        value_coded: answers_hash["ever_had_via"].trim().toUpperCase() == "YES" ? 1065 : 1066
                    },

                    {
                        concept_id: via_referral_concept_id,
                        value_coded: patient_eligible_for_via.trim().toUpperCase() == "YES" ? 1065 : 1066
                    },

                    {
                        concept_id: via_done_date_concept_id,
                        value_datetime: via_done_date
                    }
                ]
            };

            submitParameters(obs, "/observations", "nextPage")
        }

        function nextPage() {
            nextEncounter(sessionStorage.patientID, 1);
        }

        function changeSubmitButtonToSubmitVIAEligibility() {
            __$('nextButton').innerHTML = "<span>Finish</span>";
            __$('nextButton').onmousedown = function () {
                patient_eligible_for_via = __$("touchscreenInput" + tstCurrentPage).value;
                submitCervicalCancerScreening();
            }
        }

    </script>

</head>

<body id="mateme">
<div id="container">
    <div id="content">

        <form>

            <input type="text" name="variables"
                   tt_onLoad="initializeVariables();"
                   tt_onUnLoad="resetPage();"
                   tt_pageStyleClass="NoControls" optional="true"/>


            <input type="hidden" value="EVER HAD VIA?"/>

            <select allowFreeText="false" condition="cervicalFirstVisitPatient() == true;" helpText="Ever had VIA?"
                    tt_onLoad="setNextButtonToGetInputValue('ever_had_via')"
                    id="ever_had_via" name="ever_had_via" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input condition="__$('ever_had_via').value.match(/YES/i)" field_type="number" helpText="Year VIA Was Done"
                   tt_onLoad="setNextButtonToGetInputValue('year_via_was_done')"
                   id="via_year" name="via_year" tt_pageStyleClass="Numeric NumbersOnly" type="text"/>

            <select condition="__$('via_year').value.length > 0" helpText="Month VIA Was Done" id="via_month"
                    tt_onLoad="setNextButtonToGetInputValue('month_via_was_done'); jQuery('#keyboard').hide()"
                    name="via_month" tt_onLoad="__$('keyboard').style.display = 'none'"
                    tt_onUnLoad="updateVIAdoneDate();">
                <option value=""></option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>

            <input type="hidden" value="VIA REFERRAL"/>

            <select allowFreeText="false" condition="viaNotReferred() == true && patientVIAwithinThreeYears() == false;"
                    tt_onLoad="changeSubmitButtonToSubmitVIAEligibility();"
                    helpText="This patient is elligible for VIA. Refer to VIA? <span class='referral_count'><span>Today's Referrals Count: 0/1000</span></span><br /><br />"
                    id="refer_to_via" name="via_referral" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input type="hidden" value="VIA RESULTS AVAILABLE?"/>
            <select allowFreeText="false"
                    condition="patientReferredAndHasNoresults() == true && cryoDelayed == 'false';"
                    helpText="Are the VIA results available?" id="results_available?"
                    name="via_results_available" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input type="hidden" value="PATIENT WENT FOR VIA?"/>

            <select allowFreeText="false"
                    condition="__$('results_available?').value == 'No' && patientWentForVIA == 'false'"
                    helpText="Did patient go for VIA?" id="patient_went_for_via"
                    name="patient_went_for_via" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input condition="__$('patient_went_for_via').value == 'No'" helpText="Refer this patient to VIA"
                   id="no_via" name="no_via" optional="true" tt_onLoad="modifyAttributes();"
                   tt_pageStyleClass="NoControls" type="text"/>

            <input condition="__$('patient_went_for_via').value == 'Yes' || (__$('results_available?').value == 'No' && patientWentForVIA == 'true')"
                   helpText="Remind the patient to bring results on next visit!" id="yes_via" name="yes_via"
                   optional="true" tt_onLoad="modifyAttributes()" tt_pageStyleClass="NoControls" type="text"/>


            <input type="hidden" value="VIA RESULTS"/>

            <select allowFreeText="false" condition="__$('results_available?').value == 'Yes'" helpText="Record Results"
                    id="via_results" name="via_results" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Negative">Negative</option>
                <option value="Positive">Positive</option>
                <option value="Suspect Cancer">Suspect Cancer</option>
            </select>


            <input type="hidden" value="POSITIVE CRYO"/>
            <select allowFreeText="false"
                    condition="__$('via_results').value.match(/Positive/i) || cryoDelayed == 'true'"
                    helpText="Record Cryo Result" id="positive_cryo" name="positive_cryo"
                    tt_onLoad="setCervicalCancerDelayedReminder();" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Cryo Done">Cryo Done</option>
                <option value="Cryo Delayed">Cryo Delayed</option>
                <option value="Lesion Size too big">Lesion Size too big</option>
            </select>

            <input condition="__$('positive_cryo').value.match(/Cryo Done/i)" field_type="number"
                   helpText="Year Cryo Was Done" id="cryo_year" name="cryo_year" tt_pageStyleClass="Numeric NumbersOnly"
                   type="text"/>

            <select condition="__$('cryo_year').value.length > 0" helpText="Month Cryo Was Done" id="cryo_month"
                    name="cryo_month" tt_onLoad="__$('keyboard').style.display = 'none'">
                <option value=""></option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>

            <input condition="__$('cryo_month').value.length > 0" field_type="number" helpText="Day Cryo Was Done"
                   id="cryo_day" name="cryo_day" tt_onUnLoad="updateCryptoDate();" type="text"/>

            <select condition="__$('via_results').value.match(/Suspect Cancer/i) || __$('positive_cryo').value.match(/Lesion Size too big/i) || __$('lesion_size_too_big').value.match(/TRUE/i)"
                    helpText="Do you want to capture Referral outcomes today?" id="referral_outcome"
                    name="referral_outcome">
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <input type="hidden" value="VIA REFERRAL OUTCOME"/>

            <select allowFreeText="false" condition="__$('referral_outcome').value.match(/YES/i)"
                    helpText="Select Referral Outcome" id="via_referral_outcome"
                    name="via_referral_outcome" tt_pageStyleClass="NoKeyboard">
                <option value=''></option>
                <option value=""></option>
                <option value="Pre/Cancer Treated">Pre/Cancer Treated</option>
                <option value="Cancer Untreatable">Cancer Untreatable</option>
                <option value="No Cancer">No Cancer</option>
            </select>

            <input allowFreeText="false" id="cryo_done_date" name="observations[][value_coded_or_text]" type="hidden"
                   value=""/>
            <input type="hidden" value="CRYO DONE DATE"/>


            <input allowFreeText="false" id="via_done_date" name="observations[][value_coded_or_text]" type="hidden"
                   value=""/>
            <input type="hidden" value="VIA DONE DATE"/>

            <input id="lesion_size_too_big" name="lesion_size_too_big" type="hidden" value="false"/>

        </form>


        <div id="cervical_cancer_reminder" style="display:none;">
            <div id="cervical_cancer_reminder_header">
                <span style="font-size: 16pt; font-weight: bold;">Cervical Cancer Screening Reminder</span>
            </div>

            <div id="cervical_cancer_reminder_content">
                <div style="position: relative; overflow:auto; height: 80%; font-size: 14pt; font-weight: bold; color: white;">
                    <br/>
                    <Center>This patient had positive VIA but cryo was not done.<br/>
                        Refer urgently for cryo again
                    </center>
                </div>
            </div>

            <div id="cervical_cancer_reminder_footer">
                <span onclick="hideCervicalCancerWarning();">Continue</span>
            </div>
        </div>

        <div id="cervical_cancer_reminder_cover" style="display:none;">

        </div>

        <div class="loader"></div>
    </div>
</div>
</body>

</html>