<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/provider.css" type="text/css">
<script type="text/javascript" src="/assets/js/provider.js  "></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<style>
#clearButton {display: none; }
</style>

<script>
  var inclusion_list_arr = [
    ['Adult  18 years +', 9533], 
    ['On ART for 12 months +', 9534],
    ['On 1<sup>st</sup> line ART',9535],
    ['Good current adherence', 9537], ['Last VL <1000', 9536]
  ];

  var exclusion_list_arr = [];
  
  var ex = [
    ['Pregnant / Breastfeeding', 9538],
    ["Side effects / HIV-rel. diseases", 9539],
    ["Needs BP / diabetes treatment", 9540],
    ['Started IPT <12m ago', 9527],
    ["Any sign for TB",2186]
  ];

for(var i = 0 ; i < ex.length ; i++){
  if(sessionStorage.patientGender == 'M' && ex[i][0].match(/Pregnant/i))
    continue;

  exclusion_list_arr.push(ex[i]); 
}

function addYesNo() {
  var frame   = document.getElementById("inputFrame" + tstCurrentPage);
  var effectsLeft  = inclusion_list_arr.join(";").split(";").join("#");
  var effectsRight = exclusion_list_arr.join(";").split(";").join("#");

  var side_effect_table = document.createElement("div");
  side_effect_table.setAttribute("style","display: table;width: 100%;");
  frame.appendChild(side_effect_table);
  
  var side_effect_table_row = document.createElement("div");
  side_effect_table_row.setAttribute("style","display: table-row;");
  side_effect_table.appendChild(side_effect_table_row);
   
  var cells = ["left","right"];
  
  for(var i = 0 ; i < cells.length ; i++){
    var side_effect_table_cell = document.createElement("div");
    var style = "display: table-cell; width: 44%; float:";
    style += (i == 0 ? "left;" : "right;"); 
    side_effect_table_cell.setAttribute("style",style);
    side_effect_table_row.appendChild(side_effect_table_cell);
    
    if(i == 0) {   
      buildYesNoUI('FT assessment', effectsLeft, side_effect_table_cell);
    }else{
      buildYesNoUI('FT assessment', effectsRight, side_effect_table_cell);
    }

  }

}
/*
Assess for fast track?: 9561

*/
function changeNextButton() {
  var nextButton = document.getElementById('nextButton');
  nextButton.setAttribute('onmousedown','submitFT();');
}

var observarions = [];
var bookClientForFT = 1066;

function submitFT() {

  observations = [];
  var assessmentFT = document.getElementById('assess-for-ft').value;
  
  if(assessmentFT == 'No'){
    observations.push({
      concept_id: 9561, 
      value_coded: 1066,
      person_id: sessionStorage.patientID
    })
    postFTdata(observations);  
    return;
  }else{
    observations.push({
      concept_id: 9561, 
      value_coded: 1065,
      person_id: sessionStorage.patientID
    })
  }
  
  observations.push({
    concept_id: 8471, 
    value_coded: bookClientForFT,
    person_id: sessionStorage.patientID
  })

  var answers = yesNo_Hash['FT assessment'];
  
  var concept_ids = [];
  for(var i = 0 ; i < inclusion_list_arr.length ; i++){
    concept_ids.push([inclusion_list_arr[i][0], inclusion_list_arr[i][1]]);
  }
   
  for(var i = 0 ; i < exclusion_list_arr.length ; i++){
    concept_ids.push([exclusion_list_arr[i][0], exclusion_list_arr[i][1]]);
  }
   
  for(var concept_name in yesNo_Hash){
    for(var name in yesNo_Hash[concept_name]){
      
      for(var i = 0 ; i < concept_ids.length ; i++){
        if(concept_ids[i][0] == name){
          observations.push({
            concept_id: concept_ids[i][1], 
            value_coded: (yesNo_Hash[concept_name][name] == 'Yes' ? 1065 : 1066 ),
            person_id: sessionStorage.patientID
          })
        }
      }
       
    }
  }

  postFTdata();
}

function postFTdata() {
  var currentTime = moment().format(' HH:mm:ss');
  var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD'); 
  encounter_datetime += currentTime;
                        	
  var encounter = {
    encounter_type_name: 'HIV RECEPTION',
    encounter_type_id:  156,
    patient_id: sessionStorage.patientID,
    encounter_datetime: encounter_datetime
  }

  submitParameters(encounter, "/encounters", "postObs");
}

function postObs(encounter) {

  var obs = {
    encounter_id: encounter.encounter_id,
    observations: observations
  }; 

  submitParameters(obs, "/observations", "nextPage")  
}

function nextPage(obs) {
  nextEncounter(sessionStorage.patientID, 1);
}

var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + sessionStorage.patientID;

function addWatchers() {
  var list = document.getElementsByTagName('li');
  for(var i = 0 ; i < list.length ; i++){
    list[i].setAttribute('onmousedown','updateTouchscreenInputForSelect(this);changeNextButton();');
  }
}

function changeNextButton() {
  var assessmentFT = document.getElementById('assess-for-ft').value;
  var nextButton = document.getElementById('nextButton');
  if(assessmentFT == 'Yes') {
    nextButton.setAttribute('onmousedown','gotoNextPage();');
    nextButton.innerHTML = '<span>Next</span>';
  }else{
    nextButton.setAttribute('onmousedown','submitFT();');
    nextButton.innerHTML = '<span>Finish</span>';
  }
}

function prepareForSubmission() {
  var nextButton = document.getElementById('nextButton');
  nextButton.innerHTML = "<span>Book for FT</span>";
  nextButton.setAttribute('onmousedown','bookFT();');

  var root = document.getElementById('buttons');
  button = document.createElement('button');
  button.setAttribute('onmousedown','normalVisit();');
  button.innerHTML = "<span>Normal visit</span>";
  button.setAttribute('class','button green navButton');
  button.setAttribute('id','normal-visit');

  backButton = document.getElementById('backButton');
  root.insertBefore(button, backButton);
}

function removeExtraButtons() {
  var root = document.getElementById('buttons');
  btn1 = document.getElementById('normal-visit');
  root.removeChild(btn1);

  btn2 = document.getElementById('nextButton');
  btn2.setAttribute('onmousedown','gottoNextPage();')
  btn2.innerHTML = "<span>Next</span>";
}

function normalVisit() {
  for(var name in yesNo_Hash){
    var h = yesNo_Hash[name];
    for(var q in h){
      console.log(h[q])
      if(h[q] == null){
        showMessage('Please complete all section(s) by clicking Yes/No');
        break;
      }
    }
  }

  bookClientForFT = 1066;
  submitFT();
}

function bookFT() {
  bookClientForFT = 1065;
  submitFT();
}
</script>


<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
        <select allowFreeText="false" helpText="Assess client for FT" 
         id="assess-for-ft" name="fast-assessment"
         tt_onLoad ="addWatchers();checkIfInBDMode();">
          <option value=""></option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>

        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';prepareForSubmission();addYesNo();"
          tt_onUnLoad="removeExtraButtons();"
          tt_pageStyleClass= "NoControls" helpText="FT assessment" optional = "true"/>

      </form>

   </div>
 </div>
</body>

