
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>

<script>

var patientID = sessionStorage.getItem("patientID");
var programID = sessionStorage.getItem("programID");
var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;

YesNoConcepts = {};
YesNoConcepts["Yes"] = 1065;
YesNoConcepts["No"] = 1066;

function autoSelectGuardian(clickedBtn) {
  if(clickedBtn.id.match(/No/i)) {
    var e = document.getElementById('btn_yes_1');
    buttonClicked(e,'HIV Reception','Guardian present?');
  }
}

function submitHIVreception() {
  	
  var encounter = {
    encounter_type_name: 'HIV RECEPTION',
    encounter_type_id:  51,
    patient_id: patientID,
    encounter_datetime: null
  }

  submitParameters(encounter, "/encounters", "postVitalsObs");
}

function postVitalsObs(encounter) {

  var obs = {
    encounter_id: encounter["encounter_id"],
    observations: [
      { concept_id: 1805, value_coded: YesNoConcepts[yesNo_Hash['HIV Reception']['Patient present?']] },
      { concept_id: 2122, value_coded: YesNoConcepts[yesNo_Hash['HIV Reception']['Guardian present?']] }
    ]
  }; 

  submitParameters(obs, "/observations", "nextPage")  
}

function nextPage(obs){
  nextEncounter(sessionStorage.patientID, 1);
}





function changeSubmitFuction() {
  var nextButton =  document.getElementById('nextButton');
  nextButton.setAttribute("onmousedown","submitHIVreception();");
}

</script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form>

        <input type="text" name="summary"
          tt_onLoad="__$('keyboard').style.display = 'none';changeSubmitFuction();buildYesNoUI('HIV Reception', 'Patient present?,1805,autoSelectGuardian#Guardian present?,2122');" 
          tt_pageStyleClass= "NoControls" helpText="HIV reception" optional = "true"/>

      </form>

   </div>
 </div>
</body>

